@use '../../../../assets/resourses/styles/index' as index;

h4 {
  @include index.mixin-grad-color;
  font-size: 20px;
}

.exchanger-result-label {
  height: 100%;
  padding: 8px;
  margin-bottom: unset;
  display: flex;
  align-items: center;
}
