@let _data = data();

<div class="player-level-bar" (click)="openLevelTable()">
  <div class="level-badge">
    <span class="level-label">LVL</span>
    <span class="level-number">{{ _data.level }}</span>
  </div>

  <div class="xp-container">
    <div class="xp-progress-bar">
      <div class="xp-progress-fill" [style.width.%]="_data.progress * 100"></div>
    </div>
    <div class="xp-text">
      <span>{{ _data.xp | number }}</span> /
      <span>
        <b>{{ _data.xp + _data.xpForNext | number }}</b> XP
      </span>
    </div>
  </div>
</div>
