@let _withReset = withReset();
@let _className = className();
@let _controlName = controlName();
@let _isMulti = isMulti();
@let _showLabel = showLabel();

@let _options = options | async;

@if (_isMulti !== null) {
  <mat-form-field [class]="_className" style="width: auto">
    @if (_showLabel) {
      <mat-label>{{ label }}</mat-label>
    }

    <mat-select
      #select
      [formControlName]="_controlName"
      [placeholder]="placeholder"
      (selectionChange)="valueChange()"
      [multiple]="_isMulti">
      @for (entry of _options; track entry.label) {
        <mat-option [value]="entry.value" (onSelectionChange)="onOptionSelection($event, select)">
          {{ entry.label }}
        </mat-option>
      }
    </mat-select>
    @if (_withReset) {
      <div matSuffix>
        <mat-icon (click)="onClear($event)">clear</mat-icon>
      </div>
    }
  </mat-form-field>
}
