@use '../../../assets/resourses/styles/vars';
@use '../../../assets/resourses/styles/mixins';

.heroes-container {
  background-color: vars.$background-color-main;
  @include mixins.units-container-config;
}

.preview-selected-heroes {
  flex-wrap: nowrap;
  flex-direction: column !important;
  padding: 0px 10px;

  img {
    border-radius: 5px !important;
  }

  > div {
    margin-bottom: 5px;
    display: flex;
    border: vars.$border-1-black;
    padding: 3px;
    border-radius: 3px;
    box-shadow: vars.$box-shadow;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .description-bar {
    padding-left: 5px;
  }

  .hero-name {
    position: absolute;
    font-size: 13px;
    bottom: 0;
    left: 10px;
  }
}
