@use '../../../../assets/resourses/styles/index' as index;

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.no-data {
  height: 150px;
}

table {
  width: 100%;

  tr.detail-row {
    height: 0;
  }

  tr.table-row {
    cursor: pointer;
  }

  &.expandable {
    tr.table-row:not(.expanded-row):hover {
      opacity: 0.4;
    }

    tr.table-row:not(.expanded-row):active,
    .expanded-row {
      background: index.$var-metal-dark-1;
    }
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 101;
  @include index.mixin-d-f-a-c-j-c;
  height: 100%;
}

.table-row td {
  border-bottom-width: 0;
}

.detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.detail {
  display: flex;
  min-height: 0;
}

.table-row {
  cursor: pointer;
}
.detail-row {
  background: rgba(0, 0, 0, 0.02);
}
.detail-cell {
  padding-top: 12px;
  padding-bottom: 12px;
}
.detail-row .mat-mdc-cell {
  border-top: none;
}
