@use '../../../../assets/resourses/styles/index' as index;
@use '@angular/material' as mat;

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  background-color: index.$var-metal-dark-2;
}

th[mat-header-cell] .col-resize-handle:hover .col-resize-line {
  opacity: 0.6;
}

.mdc-data-table__header-cell {
  padding: 0 5px 5px 5px;
}

.no-data {
  height: 150px;
}

table {
  th ::ng-deep {
    app-text-input mat-form-field,
    app-base-select {
      transform: scaleY(0.9);
    }
  }

  .multi-sort-th-container {
    height: 24px;

    .header-label,
    b {
      line-height: 25px;
    }

    b {
      margin-left: 5px;
      color: black;
    }
  }

  app-base-select {
    display: grid;
  }

  tr.detail-row {
    height: 0;
    background: rgba(0, 0, 0, 0.02);
  }

  &.expandable {
    tr.table-row {
      cursor: pointer;
    }

    tr.table-row:not(.expanded-row):hover {
      opacity: 0.4;
    }

    tr.table-row:not(.expanded-row):active,
    .expanded-row {
      background: index.$var-metal-dark-1;
    }
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 101;
  @include index.mixin-d-f-a-c-j-c;
  height: 100%;
}

.table-row td {
  border-bottom-width: 0;
}

.detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.detail {
  display: flex;
  min-height: 0;
}

.detail-cell {
  padding-top: 12px;
  padding-bottom: 12px;
}

.detail-row .mat-mdc-cell {
  border-top: none;
}

.resize-btn {
  position: absolute;
  left: 10px;
  top: calc(100% - 56px + 10px);
}

.columns-on-off {
  position: absolute;
  left: 50px;
  transform: scale(0.8);
  top: 6px;
}

.detail-row td {
  white-space: normal;
}
