@if (
  (validationService.isFormInvalid(form, checkErrors) && showErrors) ||
  (errors.length && form.touched && showErrors)
) {
  <div class="alert alert-danger">
    <span>Please, fix following error(s): </span>
    <ul class="pl-30 mt-10">
      @for (error of errors; track $index) {
        @if (isRequiredErrors && $index === 0) {
          <li>Fields marked with an asterisk (*) are required.</li>
        }
        <app-error-field [fieldToValidate]="error"></app-error-field>
      }
    </ul>
  </div>
}
