@let _claimed = claimed();
@let _claimReward = claimReward();
@let _rewardPool = rewardPool();
@let _rewardClass = rewardClass();
@let _rewardCoins = rewardCoins();
@let _chainMode = chainMode();

<div class="flex-row" [class.chainMode]="_chainMode">
  <ng-container *ngFor="let reward of _rewardPool; let i = index; trackBy: trackByIndex">
    @let coins = _rewardCoins(reward, i);

    <div class="p-1 day" [class.claimed]="_claimed(i) && !_chainMode" [class.col]="_chainMode">
      <div
        class="reward d-flex flex-column p-2 {{ _rewardClass(i) }}"
        [class.claimed]="_claimed(i) && _chainMode"
        (click)="_claimReward(reward, i)">
        <div class="flip-wrap">
          <div class="flip-inner">
            <div class="flip-front">
              <span class="text-center mb-1 fw-bold">
                {{ getLabel(i) }}
              </span>
            </div>

            <div class="flip-back">
              <app-reward-coin
                *ngFor="let coin of coins"
                [useFixSize]="true"
                [coinConfig]="coin"></app-reward-coin>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if (_chainMode) {
      <div class="day-connector col"></div>
    }
  </ng-container>
</div>
