@let _formConfig = formConfig();
@let _dragAllowed = dragAllowed();

<div class="nav row g-2 mb-2">
  @for (config of configArray; track config.id) {
    <div class="col">
      <button
        class="got-toggle w-100"
        (click)="resetFormMtx(config.colQty, config.rowQty)"
        [ngClass]="{ 'got-toggle-green': _formConfig.colQty === config.colQty }"
        [disabled]="_formConfig.colQty === config.colQty">
        Field ({{ config.rowQty }} * {{ config.colQty }})
      </button>
    </div>
  }
</div>

<div class="form-constructor-control" [ngStyle]="{ height: rowQty() * rowHeight + 50 + 'px' }">
  <div class="form-constructor-wrapper">
    <div class="button-group gap-3">
      <button
        mat-mini-fab
        color="warn"
        matTooltip="Clear all tiles"
        matTooltipPosition="above"
        (click)="tileOps.clearAllTiles(apCtxMenuActions.apFormGroup, apCtxMenuActions.onOffAlias)"
        [disabled]="!mtx.tiles.size || !isFormCtrOn">
        <mat-icon>delete_sweep</mat-icon>
      </button>

      <button
        mat-mini-fab
        matTooltip="Add tiles (random)"
        matTooltipPosition="above"
        (click)="fillTiles()"
        [disabled]="!isFormCtrOn">
        <mat-icon>wifi_protected_setup</mat-icon>
      </button>
    </div>

    @if (showModeToggler()) {
      <div>
        <mat-slide-toggle
          matTooltip="Turn form constructor on/off"
          matTooltipPosition="above"
          [checked]="isFormCtrOn"
          (change)="toggleFormConstructor($event)">
          <span class="color-white">{{ 'Form Constructor ' + (isFormCtrOn ? 'ON' : 'OFF') }}</span>
        </mat-slide-toggle>
      </div>
    }
  </div>

  <mat-divider></mat-divider>

  <div class="form-constructor-main">
    <div class="form-container">
      @for (row of mtx.mtx; let y = $index; track y) {
        @for (col of row; let x = $index; track x) {
          <div
            [appContextMenuTriggerFor]="isFormCtrOn ? apMenu : null"
            (contextmenu)="setActiveCoordinatesCtxMenu(y, x)">
            @if (mtx.mtx[y][x]) {
              @let tile = mtx.tiles.get(mtx.mtx[y][x]);

              @if (tile) {
                <ng-container>
                  @if (tile.x === x && tile.y === y) {
                    <div
                      [id]="tile.id.toString()"
                      [ngClass]="'form-tile ' + (isFormCtrOn && 'tile-visibility')"
                      [draggable]="isTileDraggable"
                      (dragstart)="startTileDrag(tile)"
                      cdkDropListOrientation="horizontal"
                      cdkDropList
                      [cdkDropListData]="tile.cdkDropListData"
                      (cdkDropListDropped)="tileOps.dropField($event)"
                      [cdkDropListConnectedTo]="getConnectedTiles()"
                      [ngStyle]="getTilePositionStyles(tile, _formConfig)">
                      @for (
                        f of tile.cdkDropListData;
                        let i = $index;
                        let last = $last;
                        track f.alias
                      ) {
                        <ng-container>
                          @if (i === 0) {
                            <div
                              class="form-item-separator"
                              [ngStyle]="{
                                width: (isFormCtrOn ? 2 : 1) * multiplier * tileMargin + 'px',
                              }"></div>
                          }
                          <div
                            cdkDrag
                            (mouseenter)="isTileDraggable = false"
                            (mouseleave)="isTileDraggable = true"
                            (cdkDragStarted)="startDrag()"
                            (cdkDragEnded)="endDrag()"
                            [cdkDragDisabled]="!isFormCtrOn || !_dragAllowed"
                            class="form-item"
                            [appContextMenuTriggerFor]="isFormCtrOn ? apMenu : null"
                            (contextmenu)="
                              setActiveCoordinatesCtxMenu(y, x); $event.stopPropagation()
                            ">
                            <ng-container [formGroup]="formGroup">
                              <fieldset [disabled]="isFormCtrOn">
                                @switch (f.mainControl?.type) {
                                  @case (CONTROL_TYPE.INPUT) {
                                    <app-text-input
                                      [label]="f.placeholder"
                                      [controlName]="f.alias" />
                                  }
                                  @case (CONTROL_TYPE.CUSTOM) {
                                    @if (f.mainControl && f.mainControl.data) {
                                      <app-custom-data-holder
                                        [type]="f.mainControl.data"
                                        [data]="f.mainControl.dataContext"
                                        [coordinate]="{ x: y, y: x }" />
                                    }
                                  }
                                }
                              </fieldset>
                            </ng-container>
                          </div>
                          <div
                            class="form-item-separator"
                            [ngStyle]="{
                              width:
                                (last
                                  ? (isFormCtrOn ? 2 : 1) * multiplier * tileMargin
                                  : (isFormCtrOn ? 4 : 2) * multiplier * tileMargin) + 'px',
                            }"></div>
                        </ng-container>
                      }
                    </div>
                  }
                </ng-container>
              }
            } @else {
              @if (isFormCtrOn) {
                <div
                  (dragover)="onTileDragOver($event)"
                  (drop)="onTileDrop(y, x)"
                  class="anchor-point"
                  [ngStyle]="getApPositionStyles(y, x, _formConfig)">
                  <mat-icon class="anchor-icon">control_camera</mat-icon>
                </div>
              }
            }
          </div>
        }
      }
    </div>
  </div>
</div>

@if (!isFormCtrOn) {
  <div class="form-control-elements">
    <button mat-fab extended (click)="formActions.saveAction()">
      <mat-icon>save_as</mat-icon>
      UPDATE FORM
    </button>
  </div>
}

<mat-menu #apMenu>
  <div class="anchor-point-menu p-2">
    @if (getTileExistsCondition()) {
      <div class="anchor-point-menu">
        <div class="directions">
          <div class="d-flex justify-content-center">
            <button
              mat-icon-button
              (click)="tileOps.moveTileUp(apCtxMenuActions.y, apCtxMenuActions.x)">
              <mat-icon>arrow_upward</mat-icon>
            </button>
          </div>
          <div class="d-flex justify-content-around">
            <button
              mat-icon-button
              (click)="tileOps.moveTileLeft(apCtxMenuActions.y, apCtxMenuActions.x)">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button
              mat-icon-button
              (click)="tileOps.moveTileRight(apCtxMenuActions.y, apCtxMenuActions.x)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <button
              mat-icon-button
              (click)="tileOps.moveTileDown(apCtxMenuActions.y, apCtxMenuActions.x)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <form [formGroup]="apCtxMenuActions.apFormGroup">
          @if (apCtxMenuActions.onOffField) {
            @let onOffField = apCtxMenuActions.onOffField;
            @let options = onOffField.mainControl?.filterLocalSource();

            @if (options) {
              <fieldset
                [disabled]="tileOps.checkFieldsAmount(apCtxMenuActions.y, apCtxMenuActions.x)">
                <app-base-select
                  (click)="$event.stopPropagation()"
                  [label]="onOffField.placeholder"
                  [isMulti]="true"
                  [closeAfterOptionSelection]="true"
                  [action]="onOffField.action"
                  [staticOptions]="options"
                  [controlName]="onOffField.alias"
                  [source]="DATA_SOURCES.dataInputs"></app-base-select>
              </fieldset>
              <span class="mb-2"></span>
            }
          }
        </form>
      </div>
    }

    <div class="anchor-point-menu">
      <form [formGroup]="apCtxMenuActions.apFormGroup">
        <fieldset [disabled]="apCtxMenuActions.disabled" class="inherit">
          @for (
            tileControl of apCtxMenuActions.apFields;
            track tileControl.alias;
            let last = $last
          ) {
            @if (tileControl.mainControl?.type === CONTROL_TYPE.INPUT) {
              <app-text-input
                [label]="tileControl.placeholder"
                [controlName]="tileControl.alias"
                (click)="$event.stopPropagation()" />
              @if (!last) {
                <span class="mb-2"></span>
              }
            }
          }
        </fieldset>
      </form>
    </div>
  </div>

  <mat-divider />

  @for (action of apCtxMenuActions.allActions; track action) {
    @if (action.getShowCondition()) {
      <div class="context-menu">
        <button mat-menu-item (click)="action.getAction()">
          <mat-icon [ngStyle]="{ color: action.color }">{{ action.icon }}</mat-icon>
          <span>{{ action.getDescription() }}</span>
        </button>
      </div>
    }
  }
</mat-menu>
