@use './index' as index;
@use 'sass:map';

$all-colors: (
  // coins
  copper: (
      prop: color,
      value: #ffb47e,
    ),
  silver: (
    prop: color,
    value: #c0c0c0ff,
  ),
  gold: (
    prop: color,
    value: #ffd700ff,
  ),
  // b-colors
  red-b: (
      prop: background,
      value: index.$var-light-red,
    ),
  green-b: (
    prop: background,
    value: index.$var-light-green,
  ),
  entity-b: (
    prop: background,
    value: index.$var-light-gray,
  ),
  // items
  summon-scroll: (
      prop: color,
      value: #70ff70ff,
    ),
  health-color: (
    prop: color,
    value: #70ff70ff,
  ),
  summon-card: (
    prop: color,
    value: #6ee9f6,
  ),
  shards: (
    prop: color,
    value: #6ee9f6,
  ),
  defence-color: (
    prop: color,
    value: #6ee9f6,
  ),
  hero-shard: (
    prop: color,
    value: #ff9393ff,
  ),
  attack-color: (
    prop: color,
    value: #ff9393ff,
  )
);

@each $name, $config in $all-colors {
  .#{$name + ''} {
    #{map.get($config, prop)}: map.get($config, value);
  }
  .#{$name + ''}-back {
    background-color: map.get($config, value);
  }
}
