@use './vars';

.cooper {
  color: #ffb47e !important;
}

.silver {
  color: silver !important;
}

.gold {
  color: gold !important;
}

.red-b {
  background: vars.$light-red;
}

.green-b {
  background: vars.$light-green;
}

.entity-b {
  background: vars.$light-gray;
}

.summon-scroll,
.health-color {
  color: #70ff70ff;
}

.summon-card,
.defence-color {
  color: #6ee9f6;
}

.hero-shard,
.attack-color {
  color: #ff9393ff;
}
