@use './index' as index;
@use 'sass:math';

$columns: 100;

@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: $i * 0.1;
  }
}

@for $i from 1 through $columns {
  .w-#{$i} {
    width: math.percentage(calc($i / 100));
  }
  .w-#{$i}-i {
    width: math.percentage(calc($i / 100)) !important;
  }
}

@for $i from 1 through $columns {
  #w-#{$i} {
    width: math.percentage(calc($i / 100));
  }
  #w-#{$i}-i {
    width: math.percentage(calc($i / 100)) !important;
  }
}

@for $i from 1 through $columns {
  .pr-#{$i} {
    padding-right: (1px * $i);
  }
}

@for $i from 1 through $columns {
  .h-#{$i} {
    height: math.percentage(calc($i / 100));
  }
  .h-#{$i}-i {
    height: math.percentage(calc($i / 100)) !important;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
  flex-direction: row !important;

  .pr-lg {
    padding-right: 15px;
  }
}

a.fake-link {
  color: white;
  text-decoration: none;
}

.summon-background {
  height: 300px;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.banner {
  box-shadow: index.$var-box-shadow;
  background-color: index.$var-background-color-main;
  width: calc(100% - (2 * (var(--bs-gutter-x) * 0.5)));
  z-index: 1;
  align-content: space-evenly;
  border-top: index.$var-border-2-bronze;
  border-bottom: index.$var-border-2-bronze;

  .fade-black-bg {
    background: radial-gradient(
      circle at center,
      rgb(0, 0, 0) 40%,
      rgba(0, 0, 0, 0.3) 65%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0.2) 100%
    );
    padding: 5px;
  }
}

.color-white {
  color: white;
}
