@use "./vars";

$columns: 100;

@for $i from 1 through $columns {
  .w-#{$i} {
    width: (1% * $i);
  }
}

@for $i from 1 through $columns {
  .pr-#{$i} {
    padding-right: (1px * $i);
  }
}

@for $i from 1 through $columns {
  .w-#{$i}-i {
    width: (1% * $i) !important;
  }
}

@for $i from 1 through $columns {
  #w-#{$i} {
    width: (1% * $i);
  }
}

@for $i from 1 through $columns {
  #w-#{$i}-i {
    width: (1% * $i) !important;
  }
}

@for $i from 1 through $columns {
  .h-#{$i} {
    height: (1% * $i);
  }
}

@for $i from 1 through $columns {
  .h-#{$i}-i {
    height: (1% * $i) !important;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
  flex-direction: row !important;

  .pr-lg {
    padding-right: 15px;
  }
}

a.fake-link {
  color: white !important;
  text-decoration: none !important;
}

.summon-background {
  object-fit: contain;
}

.banner {
  box-shadow: vars.$box-shadow;
  background-color: vars.$background-color-main;
  width: calc(100% - (2 * (var(--bs-gutter-x) * .5)));
  z-index: 1;
  align-content: space-evenly;

  .fade-black-bg {
    background: radial-gradient(circle at center, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.2) 100%);
    padding: 5px;
  }
}
