@use './index' as index;
@use 'sass:math';

$columns: 100;
$text-directions: justify, center, left, right;

@each $direction in $text-directions {
  .text-#{$direction} {
    text-align: $direction;
  }

  .text-#{$direction}-i {
    text-align: $direction !important;
  }
}

@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: $i * 0.1;
  }
}

@for $i from 1 through $columns {
  .w-#{$i} {
    width: math.percentage(calc($i / 100));
  }
  .w-#{$i}-i {
    width: math.percentage(calc($i / 100)) !important;
  }
}

@for $i from 1 through $columns {
  #w-#{$i} {
    width: math.percentage(calc($i / 100));
  }
  #w-#{$i}-i {
    width: math.percentage(calc($i / 100)) !important;
  }
}

@for $i from 1 through $columns {
  .pr-#{$i} {
    padding-right: (1px * $i);
  }
}

@for $i from 1 through $columns {
  .h-#{$i} {
    height: math.percentage(calc($i / 100));
  }
  .h-#{$i}-i {
    height: math.percentage(calc($i / 100)) !important;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
  flex-direction: row !important;
}

a.fake-link {
  color: white;
  text-decoration: none;
}

.summon-background {
  height: 300px;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.banner {
  box-shadow: index.$var-box-shadow;
  background-color: index.$var-background-color-main;
  width: calc(100% - (2 * (var(--bs-gutter-x) * 0.5)));
  z-index: 1;
  align-content: space-evenly;
  border-top: index.$var-border-2-bronze;
  border-bottom: index.$var-border-2-bronze;

  &.no-top {
    border-top: unset;
  }

  &.b-t-l-r-i {
    border-top-left-radius: inherit;
  }

  &.b-t-r-r-i {
    border-top-right-radius: inherit;
  }

  .fade-black-bg {
    background: radial-gradient(
      circle at center,
      rgb(0, 0, 0) 40%,
      rgba(0, 0, 0, 0.3) 65%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 0.2) 100%
    );
    padding: 5px;
  }
}

.color-white {
  color: white;
}

.text-full-stretch {
  text-align: justify;
  letter-spacing: normal;
}

.bc-transparent {
  background-color: transparent !important;
}

.oath {
  margin: 12px;
  padding: 10px 12px;
  border-left: 3px solid rgba(120, 160, 255, 0.35);
  background: rgba(160, 190, 255, 0.06);
  border-radius: 4px;
  font-style: italic;
}
