@use "./vars";

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: gray !important;

  img {
    background-color: gray !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-unset {
  cursor: unset !important;
}

.panel-body > div {
  margin-bottom: unset;
}

.skill-preview-icon {
  height: 70px !important;
  width: 70px !important;
  border-radius: 5px;
  box-shadow: vars.$box-shadow-out;
}

.bs-rating-star {
  width: 22px !important;
  font-size: 22px;
  display: inline-block;
}

.margin-unset {
  margin-right: unset !important;
}

.popover-arrow {
  display: none !important;
}

.m-0-auto {
  margin: 0 auto;
}

.panel-heading {
  padding: 0 !important;
}

.panel-title .accordion-toggle {
  padding: 0;
}

.border-radius-none, .border-radius-none > div {
  border-radius: 0 !important;
}

.border-radius-10p {
  border-radius: 10% !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
