@import "./vars";

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: gray !important;

  img {
    background-color: gray !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.skill-preview-icon {
  height: 70px !important;
  width: 70px !important;
  border-radius: 5px;
  box-shadow: $box-shadow-out;
}
