@use './index' as index;

.tile {
  min-height: 100px;
  flex-basis: 110px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;

  &:hover {
    background: #e8e7e782;
  }
}

.game-field-img {
  @include index.mixin-avatar;
  box-shadow: index.$var-box-shadow;
  padding: 5px;
}

.tile-label {
  position: absolute;
  top: 0;
  right: 3px;
  @include index.mixin-grad-color;
}

.entity-b.ai-heroes.green-b:not(.disabled) {
  border-color: #ff6c6c;
  box-shadow: index.$var-red-box-shadow;
}

.ai-heroes img {
  background-color: index.$var-light-red;
}

.user-heroes img {
  background-color: index.$var-light-green;
}

.block {
  background: gray;
  pointer-events: none;
  cursor: none;
}

.action-icon {
  height: 20px;
  width: 20px;
  background-color: transparent !important;
  bottom: 0;
}

.can-move-icon {
  left: 0;
}

.can-attack-icon {
  right: 0;
}

.game-board {
  box-shadow: index.$var-box-shadow;
  background-color: index.$var-background-color-main;
  padding: 10px;
  border-radius: 5px;
}
