@use './index' as index;

.hero-in-frame {
  position: absolute;
  z-index: 101;
  bottom: 0;
  @include index.mixin-h-100-w-100;
  @include index.mixin-drop-shadow;
}

.hero-card {
  cursor: pointer;
  text-align: center;
  background: index.$var-background-color-main;
  box-shadow: index.$var-box-shadow;
  color: white !important;
  transition: background-color ease 0.5s;
  position: relative;

  .level {
    position: absolute;
    left: 0px;

    .level_rank {
      height: 50px;
      width: 50px;
    }

    span {
      position: absolute;
      top: 15px;
      left: 20px;
    }
  }

  img {
    @include index.mixin-h-100-w-100;
    object-fit: cover;
  }

  &:hover {
    background: index.$var-background-color-main-hover !important;
  }
}
