$i-sizes: 30, 60, 75, 100, 150;

.image {
  object-fit: scale-down;
}

@each $size in $i-sizes {
  .image-#{$size} {
    height: #{$size}px;
    width: #{$size}px;
    @extend .image;
  }
}

.image-350-h {
  height: 350px;
  @extend .image;
}

.reward-image {
  width: 55px;
  margin-bottom: unset;
  max-height: 55px;
  min-height: min-content;
}
