.modal-dialog {
  margin: 10px !important;
  width: 100% !important;
  max-width: calc(100% - 20px) !important;

  &:not(.modal-70) {
    height: calc(100% - 20px) !important;
  }
}

.modal-70 {
  .modal-content,
  .modal-content app-dynamic-modal-host {
    height: 100%;
  }
}
