@use './animations' as an;

.footer-cover {
  display: inline;
  position: absolute;
  right: 0;
  color: white;
}

.mat-mdc-dialog-panel:has(app-adventure-begins) {
  width: 90% !important;
  height: 90% !important;
  border-radius: 5px;
  @include an.glow-pulse-border;
}

.mat-mdc-dialog-panel:has(app-modal-deposit) {
  width: 500px;
}

.mat-mdc-dialog-panel:has(app-after-battle) {
  width: 70%;
}

.cdk-global-overlay-wrapper:has(app-adventure-begins) {
  backdrop-filter: brightness(0.5);
}
