@use './animations' as an;

.mat-mdc-dialog-panel:has(app-modal-deposit) {
  width: 500px !important;
}

.mat-mdc-dialog-panel:has(app-adventure-begins) {
  width: 90% !important;
  height: 90% !important;
  border-radius: 5px;
  @include an.glow-pulse-border;
}

.mat-mdc-dialog-panel:has(app-after-battle) {
  width: 100%;
}

.cdk-global-overlay-wrapper:has(app-adventure-begins) {
  backdrop-filter: brightness(0.5);
}
