.skill-disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000070;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;

  i {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
  }
}


.highlight-effect {
  font-weight: bold;
  color: #b00202;
  position: relative;
  cursor: pointer;
  margin: 0px 3px;

  &:hover {
    color: #d20303;
  }

  &:before {
    position: relative;
    content: '[';
  }

  &:after {
    position: relative;
    content: ']';
  }
}
