@use './index' as index;

.skills-bar {
  flex-direction: column;
}

.skill-disabled {
  position: absolute !important;
  @include index.mixin-h-100-w-100;
  @include index.mixin-d-f-a-c-j-c;
  background: rgba(0, 0, 0, 0.4392156863);
  border-radius: 5px;
  cursor: not-allowed;
  max-height: 70px;
  max-width: 70px;
  top: 5px;
  left: 5px;

  i {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
  }
}

.skills-container {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.highlight-effect {
  font-weight: bold;
  color: #b00202;
  position: relative;
  cursor: pointer;
  margin: 0px 3px;

  &:hover {
    color: #d20303;
  }

  &:before {
    position: relative;
    content: '[';
  }

  &:after {
    position: relative;
    content: ']';
  }
}
