.skill-disabled {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4392156863);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  max-height: 70px;
  max-width: 70px;

  i {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
  }
}


.highlight-effect {
  font-weight: bold;
  color: #b00202;
  position: relative;
  cursor: pointer;
  margin: 0px 3px;

  &:hover {
    color: #d20303;
  }

  &:before {
    position: relative;
    content: '[';
  }

  &:after {
    position: relative;
    content: ']';
  }
}
