@use './index' as index;

.stores {
  background-size: cover;
  border-radius: 5px;

  &.with-background {
    background: #00000070;
    box-shadow: index.$var-box-shadow;
  }

  &.bordered {
    border: index.$var-border-2-bronze;
  }

  .store-title {
    @include index.mixin-grad-color;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
  }

  @mixin card-tile-mixin {
    text-align: center;
    background-color: index.$var-background-color-main;
    box-shadow: index.$var-box-shadow;
    color: white;
    @content;
    background-size: cover;
    background-position: center;
    border-radius: inherit;
    max-height: 100%;
  }

  .store-row {
    .card-tile {
      @include card-tile-mixin {
        background-image: url('/assets/resourses/imgs/background/crack.png');
      }
    }

    .card-tile.no-back {
      background-image: none !important;
    }

    > div {
      cursor: pointer;
      @include index.mixin-d-f-a-c;
      height: inherit;
      border-radius: 5px;

      &:not(.ignore-direction) {
        flex-direction: column;
      }

      &:not(.no-text-highlight):hover {
        span {
          @include index.mixin-grad-color;
        }
      }

      &.card-tile {
        @include card-tile-mixin {
          background-image: url('/assets/resourses/imgs/background/crack.png');
        }
      }

      span {
        font-size: 14px;
        display: inline;

        &.banner {
          display: inline-block;
          width: 100%;
          padding: 2px 0px;
        }
      }
    }
  }
}
