@use './index' as index;

.stores {
  background: #00000070;
  background-size: cover;
  box-shadow: index.$var-box-shadow;
  border-radius: 5px;

  .store-title {
    @include index.mixin-grad-color;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
  }

  .store-row {
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px;

    > div {
      cursor: pointer;
      @include index.mixin-d-f-a-c;
      height: inherit;
      flex: 1;
      flex-basis: 15%;

      &:not(.no-text-highlight):hover {
        span {
          @include index.mixin-grad-color;
        }
      }

      .card {
        text-align: center;
        background: index.$var-background-color-main;
        box-shadow: index.$var-box-shadow;
        color: white;
        @include index.mixin-h-100-w-100;
        background-image: url('/assets/resourses/imgs/background/crack.png');
        background-size: cover;
        background-position: center;
      }

      span {
        font-size: 14px;
        display: inline !important;
      }
    }
  }
}
