@use './index' as index;
@use '@angular/material' as mat;

.nav-tabs {
  a.active {
    font-weight: bold;
  }

  a {
    padding: 5px 10px;
  }

  .nav-item {
    &:first-of-type a {
      border-top-left-radius: 10px;
    }

    &:last-of-type a {
      border-top-right-radius: 10px;
    }
  }
}

.tab-pane {
  background: #8080808f;
}

.mat-mdc-tab-labels {
  @include index.mixin-got-btn(mat-mdc-tab);

  .mat-mdc-tab {
    border-radius: unset;

    &:not(:last-of-type) {
      border-right: unset;
    }

    &:active {
      transform: unset;
    }

    &:hover {
      box-shadow: unset;
    }

    .mdc-tab__content {
      display: block;
      height: auto;

      .mdc-tab__text-label {
        height: 100%;
        line-height: unset;
        display: flex;
        color: inherit;
      }
    }
  }
}
