//Plain colors
$light-red: #d99595;
$light-green: #7eb57e;
$light-gray: rgba(110, 233, 246, 0.66);
$basic-golden: #b8860b;
$dirty-golden: #8c7d60;
$deep-golden: rgba(184, 134, 11, 0.3);
$metal-dark-1: #2c2c2c;
$metal-dark-2: #1a1a1a;
$gold: #d4af37;
$bronze: #b08d57;

//Box shadows
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) inset;
$box-shadow-out: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
$red-box-shadow: 3px 3px 10px 3px rgba(255, 94, 94, 0.75) inset;
$golden-shadow: 0 0 6px $gold inset;

//Gradients
$gradient-color: linear-gradient(
  45deg,
  #fac99b 0%,
  #fca385 25%,
  #fc9653 50%,
  #fc8d44 75%,
  #bc1888 100%
);

//Backgrounds
$background-color-main: $metal-dark-1;
$background-color-main-hover: rgba(77, 77, 77, 0.56);

//Borders
$border-1-black: 1px solid black;
$border-2-bronze: 2px solid $bronze;
