@let showErrors =
  field?.errors && (field?.dirty || field?.touched)
    ? true
    : field?.invalid && (field?.dirty || field?.touched);

@if (showErrors) {
  <div class="error-label">
    @if (fieldCustomError) {
      <p class="error margin-unset">{{ fieldName }}: {{ field?.errors?.['error'] }}.</p>
    }
    @if (fieldRequired) {
      <p class="error margin-unset">{{ fieldName }} is required. {{ fieldAdditionalText }}</p>
    }
    @if (fieldMinLength) {
      <p class="error margin-unset">
        {{ fieldName }} must be at least {{ fieldMinLength?.requiredLength }} characters long.
        Current length is {{ fieldMinLength?.actualLength }}. {{ fieldAdditionalText }}
      </p>
    }
    @if (fieldMaxLength) {
      <p class="error margin-unset">
        {{ fieldName }} must be less than {{ fieldMaxLength?.requiredLength }} characters long.
        Current length is {{ fieldMaxLength?.actualLength }}. {{ fieldAdditionalText }}
      </p>
    }
    @if (fieldMin) {
      <p class="error margin-unset">
        {{ fieldName }} cannot be less than {{ fieldMin?.min }}. Current value is
        {{ fieldMin?.actual }} . {{ fieldAdditionalText }}
      </p>
    }
    @if (fieldMax) {
      <p class="error margin-unset">
        {{ fieldName }} cannot be more than {{ fieldMax?.max }}. Current value is
        {{ fieldMax?.actual }} . {{ fieldAdditionalText }}
      </p>
    }
  </div>
}
