<div
  *ngIf="
    field?.errors && (field?.dirty || field?.touched)
      ? true
      : field?.invalid && (field?.dirty || field?.touched)
  "
  class="error-label">
  <p *ngIf="fieldRequired" class="error margin-unset">
    {{ fieldName }} is required. {{ fieldAdditionalText }}
  </p>
  <p *ngIf="fieldMinLength" class="error margin-unset">
    {{ fieldName }} must be at least
    {{ fieldMinLength?.requiredLength }} characters long. Current length is
    {{ fieldMinLength?.actualLength }}. {{ fieldAdditionalText }}
  </p>
  <p *ngIf="fieldMaxLength" class="error margin-unset">
    {{ fieldName }} must be less than
    {{ fieldMaxLength?.requiredLength }} characters long. Current length is
    {{ fieldMaxLength?.actualLength }}. {{ fieldAdditionalText }}
  </p>
  <p *ngIf="fieldMin" class="error margin-unset">
    {{ fieldName }} cannot be less than {{ fieldMin?.min }}. Current value is
    {{ fieldMin?.actual }} . {{ fieldAdditionalText }}
  </p>
  <p *ngIf="fieldMax" class="error margin-unset">
    {{ fieldName }} cannot be more than {{ fieldMax?.max }}. Current value is
    {{ fieldMax?.actual }} . {{ fieldAdditionalText }}
  </p>
</div>
