@import "../../../assets/resourses/styles/vars";
@import "../../../assets/resourses/styles/mixins";

.inner-container {
  background: url("../../../assets/resourses/imgs/background/summon-tree-component.png") no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: $box-shadow;
  position: relative;
  padding-top: 1px;
  background-position: center;

  h4 {
    @include grad-color;
    font-size: 20px;
  }
}

.summon-container {
  box-shadow: $box-shadow-out;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  background: #808080ad;

  img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.roll-container {
  img {
    margin-bottom: unset;
    width: 30px;
  }
}
