@let _hero = hero();
<div class="color-white c-container">
  <div class="item">
    <p class="m-0">
      <span>&#8593;</span>
      <span class="d-block text-center">Level: </span>
    </p>
    <span class="d-block text-center number">{{ _hero.level }}</span>
  </div>
  <div class="item">
    <p class="m-0">
      <span>&#11088;</span>
      <span class="d-block text-center">Rank: </span>
    </p>
    <span class="d-block text-center number">{{ _hero.rank }}</span>
  </div>
  <div class="item">
    <p class="m-0">
      <span>&#x2699;</span>
      <span class="d-block text-center">Equipment 1: </span>
    </p>
    <span class="d-block text-center number">{{ _hero.eq1Level }}</span>
  </div>
  <div class="item">
    <p class="m-0">
      <span>&#x2699;</span>
      <span class="d-block text-center">Equipment 2: </span>
    </p>
    <span class="d-block text-center number">{{ _hero.eq2Level }}</span>
  </div>
  <div class="item">
    <p class="m-0">
      <span>&#x2699;</span>
      <span class="d-block text-center">Equipment 3: </span>
    </p>
    <span class="d-block text-center number">{{ _hero.eq3Level }}</span>
  </div>
  <div class="item">
    <p class="m-0">
      <span>&#x2699;</span>
      <span class="d-block text-center">Equipment 4: </span>
    </p>
    <span class="d-block text-center number">{{ _hero.eq4Level }}</span>
  </div>
</div>
