<div class="inner-container">
    <h4 class="text-center caption mt-2">Explore the Gift and reap the harvest. Be extremely careful because sometimes
        there are wildlings here</h4>
    <div class="flex-row harvest-container">
        <div class="col-lg-10">
            <game-entry-point
                    [aiUnits]="aiUnits"
                    [gameResultsRedirect]="gameResultsRedirect"
                    [userUnits]="userUnits"
                    [battleMode]="false"
            ></game-entry-point>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
