<div class="inner-container">
  <h4 class="text-center caption mt-2">Explore the Gift and reap the harvest. Be extremely careful because sometimes
    there are wildlings here</h4>
  <div class="flex-row harvest-container">
    <div class="col-lg-12 col-md-12">
      <game-entry-point
        [aiUnits]="aiUnits"
        [gameResultsRedirect]="gameResultsRedirect"
        [userUnits]="userUnits"
        [battleMode]="true"
      ></game-entry-point>
    </div>
    <div class="col-lg-12 col-md-12 mt-3" *ngIf="loot.length">
      <display-reward [rewards]="loot"></display-reward>
    </div>
    <div class="d-flex mt-1">
      <button class="btn btn-primary">
        <a routerLink="/" class="fake-link">Back to Castle Black</a>
      </button>
      <button class="btn btn-success ms-1" *ngIf="loot.length" (click)="collectAndLeave()">Collect loot and leave</button>
    </div>
  </div>
</div>
