@let _title = title();
@let _config = config();

@let _titleClass = titleClass();
@let _navClass = navClass();
@let _innerDivClass = innerDivClass();

<div
  class="stores h-100 d-flex flex-column"
  [ngClass]="{
    bordered: _config.bordered,
    'with-background': _config.withBackground,
  }">
  @if (_title) {
    <p
      class="col-12 text-center banner no-top b-t-l-r-i b-t-r-r-i position-relative"
      [class]="_titleClass">
      <span class="store-title">{{ _title }}</span>
      <ng-content select="header-icon" />
    </p>
  }
  <nav [class]="_navClass">
    <div class="row g-2 w-100 store-row p-0" [class]="_innerDivClass">
      <ng-content />
    </div>
  </nav>
</div>
