@let _title = title();
@let _config = config();

<div
  class="stores h-100 d-flex flex-column"
  [ngClass]="{
    bordered: _config.bordered,
    'with-background': _config.withBackground,
  }">
  @if (_title) {
    <p class="col-12 text-center mt-0 mb-2 banner no-top b-t-l-r-i b-t-r-r-i">
      <span class="store-title">{{ _title }}</span>
    </p>
  }
  <nav class="flex-row justify-content-between flex-grow-1">
    <div class="row g-2 w-100 store-row ms-1 me-1">
      <ng-content />
    </div>
  </nav>
</div>
