@use '../../../../assets/resourses/styles/index' as index;

.campaign-lobby {
  @include index.mixin-got-btn;
  @include index.mixin-page-container;
  color: white;

  div:has(app-campaign-difficulty-selector) {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
  }

  &__header {
    margin-bottom: 8px;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 24px;
    color: #c8a84b;
  }

  &__subtitle {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
  }

  &__placeholder {
    font-weight: 400;
    font-style: italic;
  }

  &__actions {
    margin-top: 16px;
  }
}
