<div class="content">
  <div class="background-highlight"></div>

  <div class="page">
    <div class="highlight"></div>
    <ng-content />
    <div class="burn">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
</div>
