@use '../../../../assets/resourses/styles/index' as index;

.fix-size {
  max-height: 30px;
  max-width: 30px;
}

.loader {
  @include index.mixin-h-100-w-100;
  @extend .fix-size;
  @include index.anim-rotate();
}

.background-image {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
