@import "../../../../assets/resourses/styles/vars";
@import "../../../../assets/resourses/styles/mixins";

.taverna-inner-container {
  background: url("../../../../assets/resourses/imgs/background/taverna-3.jpg") no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: $box-shadow;
  position: relative;
  padding-top: 1px;

  h3 {
    @include grad-color;
  }
}
