:host {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #80808087;
  border-radius: inherit;
  z-index: 1;
  cursor: not-allowed;
}

div {
  display: grid;
  place-items: center;
}
