@use "../../../assets/resourses/styles/vars";
@use "../../../assets/resourses/styles/mixins";

.eq-container {
  .eq-stats > div > div {
    background: vars.$background-color-main;
    box-shadow: vars.$box-shadow;
    height: 100%;
  }

  .eq-stats {
    img {
      width: 30px;
    }

    span {
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}

.preview-container {
  background: url("../../../assets/resourses/imgs/background/taverna-2.jpg") no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: vars.$box-shadow;
  position: relative;
  padding-top: 1px;
  max-height: 100%;
  overflow: auto;

  .main-content {
    > div, aside {
    }

    aside > div {
    }
  }

  .stats-bar > div {
    background: vars.$background-color-main;
    box-shadow: vars.$box-shadow-out;
    border-radius: 15px;
  }

  .card {
    background: vars.$background-color-main;
    max-width: 350px;
    height: 100%;
  }

  h3 {
    @include mixins.grad-color;
  }
}
