<div class="m-0 gap-2 container">
  <div>
    <p class="m-0">You had: </p>
    <div class="ps-2">
      @for (reward of oldCoins; track reward.class) {
        <app-reward-coin [coinConfig]="reward"></app-reward-coin>
      }
    </div>
  </div>
  <div>
    <p class="m-0">You have: </p>
    <div class="ps-2">
      @for (reward of newCoins; track reward.class) {
        <app-reward-coin [coinConfig]="reward"></app-reward-coin>
      }
    </div>
  </div>
  <div>
    <p class="m-0">Difference: </p>
    <div class="ps-2">
      @for (reward of differenceInCoins; track reward.class) {
        <app-reward-coin [coinConfig]="reward"></app-reward-coin>
      }
    </div>
  </div>
  <button
    class="close-btn"
    mat-icon-button
    aria-label="Close snackbar"
    (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
