@use "../../../../assets/resourses/styles/vars";

.training-container {
  background: url("../../../../assets/resourses/imgs/background/way.png") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #1a1a1a;
  min-height: 100%;
  box-shadow: vars.$box-shadow;
  position: relative;
  padding-top: 1px;
  color: white;
}
