<main class="ms-4 me-4">
  <div class="p-0">
    <aside class="m-2">
      <div class="text-center filters">
        <form [formGroup]="formGroup" class="p-2">
          <app-autocomplete-mat-input
            [label]="'Hero Name'"
            [placeholder]="'I summon...'"
            [filteredOptions]="filteredOptions"
            formControlName="unitName"></app-autocomplete-mat-input>
        </form>
      </div>
    </aside>
  </div>
  <div class="main-content">
    <div class="row p-0 m-0 g-2 heroes">
      @for (hero of returnedArray; track hero.name) {
        <div class="col mt-0">
          <div
            class="card hero-card d-flex align-items-center h-100"
            (click)="openHeroPreview(hero.name)">
            <img class="card-img-top taverna" src="{{ hero.fullImgSrc }}" alt="{{ hero.name }}" />
            <div class="level">
              <div class="position-relative">
                <img
                  src="assets/resourses/imgs/rank/{{ heroesService.getRank(hero.level) }}_r.png"
                  alt="rank level"
                  class="level_rank"
                  [style]="{ height: hero.level === 60 ? '60px' : '' }" />
                <span [style]="{ left: hero.level > 10 ? '16px' : '' }">{{ hero.level }}</span>
              </div>
            </div>
            <app-rating ngProjectAs="reward-avatar-container" [rating]="hero.rank" />
          </div>
        </div>
      }

      @if (!returnedArray.length) {
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
          <mat-spinner />
        </div>
      }
    </div>
  </div>
  <mat-paginator
    class="demo-paginator mt-2 mb-2"
    (page)="pageChanged($event)"
    [length]="totalElements"
    [pageSize]="itemsPerPage"
    [showFirstLastButtons]="true"
    [pageIndex]="currentPage"
    aria-label="Select page">
  </mat-paginator>
  <button class="btn btn-primary got-toggle" (click)="backToMainPage()">
    Back to Castle Black
  </button>
</main>
