@use '../../../../assets/resourses/styles/vars';
@use '../../../../assets/resourses/styles/mixins';

main {
  aside {
    background: vars.$background-color-main;
    box-shadow: vars.$box-shadow;
  }

  .card {
    background: vars.$background-color-main;
  }

  .card-title,
  h4 {
    @include mixins.grad-color;
  }
}

.filters {
  label {
    color: white !important;
  }
}

@media (max-width: 968px) {
  .main-content {
    > div:first-of-type {
      order: 2;
    }

    > div:last-of-type {
      order: 1;
    }
  }
}
