@use '../../../../assets/resourses/styles/index' as index;

.card-img-top.taverna {
  max-height: 370px;
  object-fit: contain;
}

.main-content {
  .heroes {
    height: 400px;
    max-height: 400px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

main {
  aside {
    background: index.$var-background-color-main;
    box-shadow: index.$var-box-shadow;
  }

  .card {
    background: index.$var-background-color-main;
  }

  .card-title,
  h4 {
    @include index.mixin-grad-color;
  }
}

.filters {
  label {
    color: white !important;
  }
}
