<div class="d-flex justify-content-center heroes-select-container">
  <div class="col-12 units-config-inner-container">
    <h4 class="text-center">{{ title }}</h4>
    <div class="flex-row justify-content-evenly">
      <div *ngFor="let unit of allHeroes; let i = index" class="m-1"
           (click)="isUser ? addUserUnit(unit) : addUserUnit(unit, false)">
        <img src="{{unit.imgSrc}}" alt="{{unit.name}}" *ngIf="isUser"
             [class.selected]="checkSelected(unit)">
        <img src="{{unit.imgSrc}}" alt="{{unit.name}}" *ngIf="!isUser"
             [class.selected-enemy]="checkSelected(unit, false)">
      </div>
    </div>
  </div>
</div>
