<nav class="d-flex flex-row align-content-center justify-content-between">
  <img class="user-header-avatar navbar-brand" src="../../../../assets/resourses/imgs/UI_Avatar_Unit_Alvar.png" alt="avatar"/>
  <div class="d-flex currency-bar align-items-center">
    <div class="d-flex align-items-center">
      <img src="../../../../assets/resourses/imgs/copper.png" alt="coin copper"/><span class="copper">500</span></div>
    <div class="d-flex align-items-center">
      <img src="../../../../assets/resourses/imgs/silver.png" alt="coin silver"/><span class="silver">400</span></div>
    <div class="d-flex align-items-center">
      <img src="../../../../assets/resourses/imgs/gold.png" alt="coin gold"/><span class="gold">300</span></div>
  </div>
</nav>
