@let coins = getDisplayCurrency();

<nav class="d-flex flex-row align-content-center justify-content-between">
  <img
    class="user-header-avatar navbar-brand"
    [src]="'./assets/resourses/imgs/UI_Avatar_Unit_Alvar.png'"
    alt="avatar"
    [matMenuTriggerFor]="menu" />
  <div class="d-flex currency-bar align-items-center">
    @for (coin of coins; track coin.alias) {
      <div class="d-flex align-items-center">
        <img
          [src]="`./assets/resourses/imgs/${coin.alias}.png`"
          [alt]="`coin ${coin.alias}`" /><span [class]="coin.alias">
          {{ coin.amount | number }}
        </span>
      </div>
    }
  </div>
</nav>

<mat-menu #menu="matMenu">
  <div class="header-avatar-popper" mat-menu-item>
    <button class="got-toggle cursor-pointer" (click)="logOut()">Log out</button>
  </div>
</mat-menu>
