@let _selectedHero = selectedHero();
@let _tableMode = tableMode();
@let _stats = stats();
@let _statsContainerClass = statsContainerClass();

<div class="p-0 gap-2 flex-row stats-container">
  <div style="width: 133px; min-width: 133px" class="reward-avatar-container">
    <img alt="Boss avatar" class="reward-avatar" [src]="_selectedHero.imgSrc" />
    <ng-content select="reward-avatar-container" />
  </div>
  <div
    class="stats flex-column w-auto {{ _statsContainerClass }}"
    [ngClass]="{
      'stats-table': _tableMode,
      'flex-column': !_tableMode,
    }">
    <ng-template #statRow let-icon="icon" let-value="value" let-desc="desc">
      <div class="flex-row" style="font-weight: bold">
        <p class="m-0 col-auto stat-p-container">
          <img [src]="icon" [alt]="icon" />
          <span [class]="icon">{{ value }}</span>
        </p>
        @if (!_tableMode) {
          <span class="col d-block text-start">{{ desc }}</span>
        }
      </div>
    </ng-template>

    @for (s of _stats; track s.key) {
      <ng-container
        [ngTemplateOutlet]="statRow"
        [ngTemplateOutletContext]="{
          icon: s.icon,
          value: s.value(),
          desc: s.desc,
        }">
      </ng-container>
    }
  </div>

  <ng-content />
</div>
