@use '../../../../assets/resourses/styles/index' as index;

.reward-avatar {
  object-fit: contain;
  width: 100%;
  height: 125px;
  padding: 5px;
}

.stat-p-container {
  display: inline-flex;
  flex-basis: 100px;
  justify-content: space-between;
}

.stats-line {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}

.stats-container {
  .reward-avatar-container {
    height: fit-content;
  }

  @include index.anim-border-glow(reward-avatar-container) {
    border-radius: 5px;
  }
}
