@use '../../../../assets/resourses/styles/index' as index;

mat-drawer-container {
  flex: 1;
  min-width: 350px;
}

app-unit-short-eqp-information {
  display: flex;
  height: 100%;
}

.stats-inner-container {
  display: flex;
  gap: 10px;
  height: stretch;
}

.reward-avatar {
  object-fit: contain;
  width: 100%;
  height: 125px;
  padding: 5px;
}

.level-label {
  color: white;
  font-weight: bold;

  span {
    color: index.$var-gold;
    font-weight: normal;
  }
}

.might-container:not(:empty) {
  height: 30px;

  ::ng-deep app-hero-power > div {
    width: 100%;
    justify-content: center;
    font-size: 14px;
    right: 0;
    top: 0;
  }
}

.stat-p-container {
  display: inline-flex;
  flex-basis: 100px;
  justify-content: space-between;
}

.stats-line {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}

.stats-container {
  .reward-avatar-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
  }

  @include index.anim-border-glow(reward-avatar-container) {
    border-radius: 5px;
  }
}
