@let _selectedHero = selectedHero();
@let _tableMode = tableMode();
@let _stats = stats();
@let _statsContainerClass = statsContainerClass();

<div class="p-0 gap-2 flex-row stats-container">
  <div style="width: 133px; min-width: 133px" class="reward-avatar-container">
    <img alt="Boss avatar" class="reward-avatar" [src]="_selectedHero.imgSrc" />
    <ng-content select="reward-avatar-container" />
  </div>
  <div
    class="stats flex-column w-auto gap-1 {{ _statsContainerClass }}"
    [ngClass]="{
      'stats-table row m-0': _tableMode,
      'flex-column': !_tableMode,
    }">
    <ng-template #statRow let-icon="icon" let-value="value" let-desc="desc" let-key="key">
      <div
        [ngClass]="{
          'row gap-2 m-0': !_tableMode,
          col: _tableMode,
        }"
        class="p-1 stats-line">
        <p
          [ngClass]="{
            'd-flex justify-content-around': _tableMode,
            'stat-p-container': !_tableMode,
          }"
          class="m-0 h-100">
          <img [src]="icon" [alt]="icon" />
          <span [class]="key">{{ value }}</span>
        </p>
        @if (!_tableMode) {
          <span style="line-height: 30px" class="col d-block text-start">{{ desc }}</span>
        }
      </div>
    </ng-template>

    @for (s of _stats; track s.key) {
      <ng-container
        [ngTemplateOutlet]="statRow"
        [ngTemplateOutletContext]="{
          icon: s.icon,
          value: s.value(),
          desc: s.desc,
          key: s.key,
        }">
      </ng-container>
    }
  </div>

  <ng-content />
</div>
