@import "../../../../assets/resourses/styles/vars";

.training-container {
  background: url("../../../../assets/resourses/imgs/background/training.jpeg") no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: $box-shadow;
  position: relative;
  padding-top: 1px;
  color: white;
}