<div class="inner-container p-2">
  <div class="footer-cover">
    <ng-template #footerHost></ng-template>
  </div>

  <section class="main-content">
    <div class="banner">
      <h4>{{ data.headerMessage }}</h4>
    </div>

    <div class="rewards-bar w-100 p-3">
      <div class="banner row gap-2 g-2">
        @for (reward of rewards; track reward.class) {
          <div class="col">
            <app-reward-coin
              [imageContainerClass]="'mb-2'"
              [containerClass]="
                'd-flex flex-column align-items-center h-100 justify-content-between'
              "
              [coinConfig]="reward"></app-reward-coin>
          </div>
        } @empty {
          <p>No Rewards for this Battle</p>
        }
      </div>
    </div>

    <footer class="w-100">
      <button class="got-toggle w-100" (click)="data.close()">
        {{ data.closeBtnLabel }}
      </button>
    </footer>
  </section>
</div>
