<div class="preview-container">
  <div class="m-2">
    <div class="text-center">
      <h3>{{ name }}</h3>
    </div>
    <div class="row main-content m-0">
      <aside class="p-2 stats-bar justify-content-between mb-0">
        <div class="p-2 flex-column justify-content-evenly color-white">
          <app-stats [selectedHero]="selectedHero">
            <app-rating ngProjectAs="reward-avatar-container" [rating]="selectedHero.rank" />
          </app-stats>
          <app-skills-render
            [selectedHero]="selectedTileHero"
            [showSkillName]="true"></app-skills-render>
        </div>
      </aside>
      <aside class="p-2 stats-bar justify-content-between mb-0 color-white">
        <div class="p-2 eq-container">
          <p class="mb-0 text-center fw-bold">Equipment</p>
          <div class="flex-row gap-1">
            <ng-container
              [ngTemplateOutlet]="itemTemplate"
              [ngTemplateOutletContext]="{ name: 'eq1' }"></ng-container>
            <ng-container
              [ngTemplateOutlet]="itemTemplate"
              [ngTemplateOutletContext]="{ name: 'eq2' }"></ng-container>
            <ng-container
              [ngTemplateOutlet]="itemTemplate"
              [ngTemplateOutletContext]="{ name: 'eq3' }"></ng-container>
            <ng-container
              [ngTemplateOutlet]="itemTemplate"
              [ngTemplateOutletContext]="{ name: 'eq4' }"></ng-container>
          </div>
        </div>
      </aside>
    </div>
    <button class="btn btn-info got-toggle" (click)="backToTavern()">Back to Tavern</button>
  </div>
</div>

<ng-template #itemTemplate let-name="name">
  @let desc = getItemDescription(name);
  @let level = getLevelByName(name);

  <div class="col row m-0 align-items-stretch flex-column justify-content-between">
    <div class="flex-row">
      <div class="col-auto">
        <img [src]="'assets/resourses/imgs/eq/' + name + '.png'" [alt]="name" />
      </div>
      <p class="ps-2 col">{{ desc }}</p>
    </div>
    <div class="flex-row eq-stats mb-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 flex-row justify-content-center mb-0">
        <div class="col-12">
          <div class="flex-row ps-2 mb-0">
            <img src="../../../../assets/resourses/imgs/icons/attack_icon.png" alt="attack" />
            <span>{{ level * selectedHero.attackIncrement }}</span>
            <span>(+{{ selectedHero.attackIncrement }})</span>
          </div>
          <div class="flex-row ps-2 mb-0">
            <img src="../../../../assets/resourses/imgs/icons/def_icon.png" alt="defence" />
            <span>{{ level * selectedHero.defenceIncrement }}</span>
            <span>+({{ selectedHero.defenceIncrement }})</span>
          </div>
          <div class="flex-row ps-2 mb-0">
            <img src="../../../../assets/resourses/imgs/icons/health_icon.png" alt="health" />
            <span>{{ level * selectedHero.healthIncrement }}</span>
            <span>(+{{ selectedHero.healthIncrement }})</span>
          </div>
          <p class="text-center mb-2 fw-bold">{{ level }}/200</p>
        </div>
      </div>
    </div>
    @if (200 - level > 0) {
      <div class="m-0-auto mt-2 text-center" style="height: fit-content">
        <button class="got-toggle got-toggle-green">Upgrade</button>
      </div>
    }
  </div>
</ng-template>
