@use '../../../../assets/resourses/styles/index' as index;

.card-img-top.taverna {
  object-fit: contain;
}

.eq-container {
  .eq-stats {
    background: index.$var-background-color-main;
    box-shadow: index.$var-box-shadow;

    .current-gear-level {
      color: index.$var-basic-golden;
    }

    .level-bar {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    img {
      width: 30px;
      height: 30px;
    }

    span {
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}

.preview-container {
  background: url('../../../../assets/resourses/imgs/background/taverna-2.webp') no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: index.$var-box-shadow;
  position: relative;
  padding-top: 1px;

  overflow: auto;

  @include index.mixin-got-btn;

  .stats-bar > div {
    background: index.$var-background-color-main;
    box-shadow: index.$var-box-shadow-out;
    border-radius: 5px;
  }

  .card {
    background: index.$var-background-color-main;
    height: 100%;
  }

  h3 {
    @include index.mixin-grad-color;
  }
}
