@use "../../../assets/resourses/styles/vars";
@use "../../../assets/resourses/styles/mixins";

.lobby-container {
  background: url("../../../assets/resourses/imgs/lobby-back.jpeg") no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: vars.$box-shadow;
  position: relative;
  padding-top: 1px;
}

aside {
  box-shadow: vars.$box-shadow;
  border-radius: 5px;
  height: fit-content;

  ul {
    box-shadow: vars.$box-shadow;
  }

  li {
    background: #00000070;
    color: white;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.56);

      a {
        @include mixins.grad-color;
      }
    }

    a {
      background: transparent;
      color: white;
      border: unset;
      padding: unset;
    }
  }

  span {
    font-size: x-large;
  }
}
