@use '../../../assets/resourses/styles/index' as index;

.viewport {
  height: 400px;
  width: 300px;
  border: 1px solid #ccc;
}

.item {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.lobby-container {
  background: url('../../../assets/resourses/imgs/lobby-back.jpeg') no-repeat;
  @include index.mixin-page-container;
}

aside {
  box-shadow: index.$var-box-shadow;
  height: fit-content;

  mat-list {
    border-radius: 5px;
  }

  mat-list-item {
    color: white;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.56);

      a {
        @include index.mixin-grad-color;
      }
    }

    a {
      background: transparent;
      color: white;
      border: unset;
      padding: unset;
    }
  }

  span:not(.ignore-fs) {
    font-size: x-large;
  }
}
