<div class="lobby-container">
  <main class="d-flex mt-4 ms-4 me-4">
    <aside class="col-4">
      <ul class="nav flex-column list-group">
        <li class="nav-item list-group-item" *ngFor="let route of pageRoutes; trackBy trackByRoute">
          <a [routerLink]="route.url" class="list-group-item">
                        <span>
                          <image [source]="'assets/resourses/imgs/nav_icons/' + route.src" [alt]="route.name"></image>
                          {{ route.name }}
                        </span>
          </a>
        </li>
      </ul>
    </aside>
    <div class="col-8 d-flex justify-content-end">
      <div class="stores col-9 h-100">
        <p class="col-12 text-center mt-2 store-title" style="height: 30px">Магазины и Награды</p>
        <nav class="flex-row justify-content-between">
          <div class="flex-row store-row">
          @for (activity of activities; track activity.name) {
            <ng-container [ngTemplateOutlet]="storeTemplate"
                          [ngTemplateOutletContext]="activity"/>
          }
          </div>
        </nav>
      </div>
    </div>
  </main>
</div>

<ng-template #storeTemplate
             let-name="name"
             let-src="src"
             let-click="click"
             let-notification="notification">
  <div class="justify-content-center" (click)="click ? click() : true">
    <div class="card d-flex align-items-center position-relative">
      <img class="card-img-top" src="{{'./assets/resourses/imgs/'+src+'.png'}}" [alt]="name">
      <span class="card-title">{{ name }}</span>
      <app-notification-marker [notificationType]="notification"/>
    </div>
  </div>
</ng-template>

<daily-reward *ngIf="isShowDailyReward" [closePopup]="closePopup"></daily-reward>
