@use '../../../assets/resourses/styles/vars';
@use '../../../assets/resourses/styles/mixins';

.inner-container {
  background: url('../../../assets/resourses/imgs/background/summon-tree-component.png') no-repeat
    center;
  background-size: cover;
  min-height: 100%;
  box-shadow: vars.$box-shadow;
  position: relative;
  padding-top: 1px;

  h4 {
    @include mixins.grad-color;
    font-size: 20px;
  }
}

.summon-container {
  box-shadow: vars.$box-shadow-out;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  background: #808080ad;

  img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.roll-container {
  img {
    margin-bottom: unset;
    width: 30px;
  }
}
