<div class="inner-container">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <div class="summon-container container">
      <div class="m-0-auto summon-background"></div>
      <div class="mb-3">
        <h4>
          Donate coins and receive heroes or their fragments. For duplicates of heroes you will
          receive a large number of fragments.
        </h4>
        <div class="d-flex align-items-center justify-content-evenly roll-container">
          <button class="got-toggle silver" (click)="getReward()">
            <app-image
              source="../../../assets/resourses/imgs/silver.png"
              alt="silver coin"
              [useFixSize]="true" />300
          </button>
          <button class="got-toggle silver" (click)="getReward(10)">
            <app-image
              source="../../../assets/resourses/imgs/silver.png"
              alt="silver coin"
              [useFixSize]="true" />{{ 2700 | number }}
          </button>
        </div>
      </div>
      <app-display-reward [rewards]="rewards"></app-display-reward>
      <button class="got-toggle" (click)="goToMainPage()">Back to Castle Black</button>
    </div>
  </div>
</div>
