@use '../../../assets/resourses/styles/index' as index;

.inner-container {
  @include index.mixin-page-container;
  background: url('../../../assets/resourses/imgs/background/summon-tree-component.png') no-repeat
    center;

  h4 {
    @include index.mixin-grad-color;
    font-size: 20px;
  }

  @include index.mixin-got-btn;

  ::ng-deep .loader-holder {
    background: url('../../../assets/resourses/imgs/background/summon-tree-component.png') no-repeat
      center;
    background-size: cover;
  }
}

.summon-container {
  box-shadow: index.$var-box-shadow-out;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  .summon-background {
    background: url('../../../assets/resourses/imgs/background/summon1.webp') center/cover no-repeat;
    border-radius: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: conic-gradient(
      transparent,
      index.$var-deep-golden,
      index.$var-deep-golden,
      index.$var-deep-golden
    );
    filter: blur(1.3rem);
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
  }

  img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.roll-container {
  img {
    margin-bottom: unset;
    width: 30px;
  }
}
