@use '../../../../assets/resourses/styles/index' as index;

.assistant-container {
  border-radius: 5px;
  border: index.$var-border-2-bronze;
  background-color: index.$var-metal-dark-1;

  h3 {
    @include index.mixin-grad-color;
  }
}
