@let _userSelCtx = userSelCtx();
@let _aiSelCtx = aiSelCtx();

<div>
  <h3 class="text-center">Configure your training</h3>
  <div class="flex-row units-config-container">
    <ng-container [ngTemplateOutlet]="unitsBar" [ngTemplateOutletContext]="userBarCtx">
    </ng-container>
    <ng-container [ngTemplateOutlet]="unitsBar" [ngTemplateOutletContext]="aiBarCtx">
    </ng-container>
  </div>
  <div class="d-flex ms-4 me-4">
    <button class="me-2 got-toggle" (click)="goToMainPage()">Back to Castle Black</button>
    @if (aiUnits.length && userUnits.length) {
      <button class="got-toggle got-toggle-red" (click)="openFight()">Fight</button>
    }
  </div>

  <div class="flex-row units-config-container" style="margin-top: 7px">
    <ng-container [ngTemplateOutlet]="selectedUnitsBar" [ngTemplateOutletContext]="_userSelCtx">
    </ng-container>
    <ng-container [ngTemplateOutlet]="selectedUnitsBar" [ngTemplateOutletContext]="_aiSelCtx">
    </ng-container>
  </div>
</div>

<ng-template #unitsBar let-isUser="isUser" let-title="title" let-defaultUnits="defaultUnits">
  <div class="col-lg-6 col-md-12">
    <app-heroes-select
      [title]="title"
      [isUser]="isUser"
      [defaultUnits]="defaultUnits"
      [allHeroes]="allUnitsForSelect"
      [addUserUnit]="addUserUnit"></app-heroes-select>
  </div>
</ng-template>

<ng-template #selectedUnitsBar let-units="units" let-title="title" let-user="user">
  <div class="col-lg-6 col-md-12">
    <app-heroes-select-preview
      [units]="units"
      [title]="title"
      [user]="user"
      [toggleDescription]="toggleDescription"
      [getDescriptionState]="getDescriptionState"></app-heroes-select-preview>
  </div>
</ng-template>
