@let _userSelCtx = userSelCtx();
@let _aiSelCtx = aiSelCtx();
@let _aiUnitsLength = aiUnits().length;
@let _userUnitsLength = userUnits().length;
@let _gridConfig = gridConfig();
@let _allUnitsForFieldConfig = allUnitsForFieldConfig();
@let _canStartFight = canStartFight | async;
@let _showField = showField | async;

<div>
  <h3 class="text-center banner">Configure your training</h3>
  <div class="flex-row units-config-container">
    <ng-container [ngTemplateOutlet]="unitsBar" [ngTemplateOutletContext]="userBarCtx">
    </ng-container>
    <ng-container [ngTemplateOutlet]="unitsBar" [ngTemplateOutletContext]="aiBarCtx">
    </ng-container>
  </div>
  <div class="row m-0">
    <div class="col-6">
      <button class="me-2 got-toggle w-100" (click)="goToMainPage()">Back to Castle Black</button>
    </div>
    <div class="col-6">
      @if (_aiUnitsLength && _userUnitsLength) {
        <button
          class="got-toggle got-toggle-red w-100"
          [disabled]="!_canStartFight"
          (click)="openFight()">
          Fight
        </button>
      }
    </div>
  </div>

  <div class="flex-row units-config-container" style="margin-top: 7px">
    <ng-container [ngTemplateOutlet]="selectedUnitsBar" [ngTemplateOutletContext]="_userSelCtx">
    </ng-container>
    <ng-container [ngTemplateOutlet]="selectedUnitsBar" [ngTemplateOutletContext]="_aiSelCtx">
    </ng-container>
  </div>

  @if (_gridConfig && _showField) {
    <app-enhanced-form-constructor
      [colQty]="_gridConfig.columns"
      [dragAllowed]="false"
      [formName]="formName"
      [rowQty]="_gridConfig.rows"
      [allFields]="_allUnitsForFieldConfig" />
  }
</div>

<ng-template #unitsBar let-isUser="isUser" let-title="title" let-contextName="contextName">
  <div class="col-lg-6 col-md-12">
    <app-heroes-select
      [title]="title"
      [contextName]="contextName"
      [isUser]="isUser"
      [allHeroes]="allUnitsForSelect"
      [addUserUnit]="addUserUnit"></app-heroes-select>
  </div>
</ng-template>

<ng-template #selectedUnitsBar let-units="units" let-title="title" let-user="user">
  <div class="col-lg-6 col-md-12">
    <app-heroes-select-preview
      [units]="units"
      [title]="title"
      [user]="user"
      [toggleDescription]="toggleDescription"
      [getDescriptionState]="getDescriptionState"></app-heroes-select-preview>
  </div>
</ng-template>
