@let _formatedText = formatedText();
@let _renderBySentence = renderBySentence();
@let _containerClass = containerClass();

<div
  class="color-white"
  [class]="_containerClass"
  [ngClass]="{
    'render-by-sentence': _renderBySentence,
  }">
  <ng-content />

  @if (_renderBySentence) {
    @for (textPart of _formatedText; track $index) {
      <ng-template
        [ngTemplateOutlet]="text"
        [ngTemplateOutletContext]="{ text: textPart, last: $last, first: $first }" />
    }
  } @else {
    <ng-template [ngTemplateOutlet]="text" [ngTemplateOutletContext]="{ text: _formatedText[0] }" />
  }

  <ng-template #text let-text="text" let-last="last" let-first="first">
    <p
      class="mb-0 pr-1"
      [ngClass]="{
        'mt-2': last,
        'mb-2': first,
        'special-line': last || first,
        'd-inline-block': !_renderBySentence || (_renderBySentence && (first || last)),
        'd-inline': _renderBySentence,
      }">
      @for (word of text; track word.hint + word.text + $index) {
        @if (word.hint) {
          <span class="highlight-effect ms-1 me-1" [matTooltip]="word.desc">{{ word.text }}</span>
        } @else {
          <span>{{ word.text }}</span>
        }
      }
    </p>
  </ng-template>
</div>
