:host {
  display: block;
  width: 100%;
}

p {
  width: 100%;
  text-align: justify;

  &.special-line {
    font-weight: 500;
  }

  span {
    text-align: inherit;
    display: inline-block;
  }
}
