@use '../../../assets/resourses/styles/index' as index;

.hero {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: bottom !important;
}

.c-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.27);

  .inner-container {
    margin: 15px 0px;
    box-shadow: index.$var-box-shadow;
    border-radius: 5px;
    background: url('../../../assets/resourses/imgs/background/show_with_two_men.jpeg') no-repeat;
    background-size: cover;
    height: 80%;
    overflow: auto;
  }
}
