@let _isHeroPreview = isHeroPreview | async;

<div class="c-container d-flex align-items-center justify-content-center">
  <div (appOutsideClick)="closePopup()" class="col-11 inner-container row position-relative">
    <!-- Hero Preview Section -->
    <div class="position-relative h-100 col-lg-3 col-md-12 col-sm-12">
      <div class="glow-box" (click)="showHeroPreview()">
        <div class="hero-in-frame hero" id="hero-in-frame" #heroInFrame></div>
      </div>
    </div>

    <aside class="col-lg-9 col-md-12 col-sm-12 flex-column justify-content-evenly pt-2">
      @if (!_isHeroPreview) {
        <h1 class="text-center caption">Collect rewards every day and they will only grow!!!</h1>
      }

      <!-- Rewards List -->
      @if (!_isHeroPreview && dailyRewardConfig.totalDays) {
        <app-rewards-calendar
          [rewardPool]="month"
          [claimReward]="claimReward"
          [rewardClass]="rewardClass"
          [claimed]="claimed"
          [rewardCoins]="dailyRewardService.rewardCoins"></app-rewards-calendar>
      }

      <!-- Hero Preview Details -->
      @if (_isHeroPreview) {
        <div>
          <p style="font-weight: bold; color: white">
            {{ rewardHero.description }}
          </p>

          <div class="flex-row">
            <div class="mt-2 p-2 justify-content-center align-items-center">
              <app-stats
                [selectedHero]="rewardHero"
                [statsContainerClass]="'color-white'"></app-stats>
            </div>

            <div style="font-weight: bold">
              <div class="m-1 color-white">
                <app-skills-render
                  [selectedHero]="tileRewardHero"
                  [showSkillName]="true"></app-skills-render>
              </div>
            </div>
          </div>
        </div>
      }
    </aside>
  </div>
</div>
