@import "../../../assets/resourses/styles/mixins";

.hero {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: bottom !important;
}

.c-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.27);

  .inner-container {
    margin: 15px 0px;
    box-shadow: $box-shadow;
    border-radius: 15px;
    background: url("../../../assets/resourses/imgs/background/show_with_two_men.jpeg") no-repeat;
    background-size: cover;
    height: 80%;
    overflow: auto;
  }
}

.reward {
  min-height: 120px;
  background-color: rgb(255, 241, 241);
  border: 1px solid #f8b163;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: $box-shadow;
  transition: all ease 0.4s;
  pointer-events: none;
  height: 100%;

  img {
    height: 30px;
    width: 30px;
  }

  &.today {
    background-color: #855a5a;
    pointer-events: auto;
    &:hover {
      background-color: rgba(255, 241, 241, 0.64);
    }
  }
}


