@let model = helper.form;

@let rateLabel = helper.rateLabel;
@let result = helper.result;
@let coins = getUserCurrencyInCoins();
@let _key = key;
@let depositAvailable = depositFacade.depositAvailable | async;

<div class="inner-container position-relative">
  @if (!depositAvailable) {
    <div class="d-flex justify-content-end p-1">
      <button mat-fab class="deposit-notificator" (click)="showCurrentDeposit()">
        <mat-icon>currency_exchange</mat-icon>
      </button>
    </div>
  }

  <main class="row g-4 m-0">
    <div class="col-12 col-md">
      <aside class="stores w-100 h-100">
        <div class="flex-row store-row p-2">
          <h4 class="w-100 text-center mb-0">Exchanger</h4>

          <div class="no-text-highlight w-100 mt-2 cursor-unset">
            <p class="m-0">You have:</p>
            <div class="ps-2">
              @for (reward of coins; track reward.class) {
                <app-reward-coin [coinConfig]="reward"></app-reward-coin>
              }
            </div>
          </div>

          <form [formGroup]="model" class="row gap-4 m-0 p-0 w-100">
            <div class="col p-0">
              <mat-form-field class="w-100">
                <mat-label>From</mat-label>
                <mat-select formControlName="from">
                  @for (c of helper.currencies; track c) {
                    <mat-option [value]="c">{{ c }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col p-0">
              <mat-form-field class="w-100">
                <mat-label>To</mat-label>
                <mat-select formControlName="to">
                  @for (c of helper.allowedToOptions(model.controls.from.value); track c) {
                    <mat-option [value]="c">{{ c }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col p-0">
              <app-number-input
                [max]="getMax(user, _key)"
                [label]="'Amount (From) '"
                [controlName]="'amount'">
              </app-number-input>
            </div>

            <div class="col p-0">
              <div class="alert alert-primary w-100">
                You get: <b>{{ result | number }}</b>
              </div>
            </div>
          </form>

          @if (rateLabel) {
            <p class="form-text">{{ rateLabel }}</p>
          }

          @if (model.valid && result > 0) {
            <button mat-fab extended class="mb-2" (click)="exchangeCurrency(result)">
              <mat-icon>currency_exchange</mat-icon>
              Exchange
            </button>
          } @else {
            <app-form-errors-container
              class="w-100"
              [form]="model"
              [uiErrorsNames]="helper.uiErrorsNames"></app-form-errors-container>
          }
        </div>
      </aside>
    </div>

    <div class="col-12 col-md">
      <aside class="stores w-100 h-100">
        <fieldset [disabled]="!depositAvailable" class="h-100">
          <app-deposit
            [(form)]="depositForm"
            [copperMax]="getMax(user, 'copper')"
            [silverMax]="getMax(user, 'silver')"
            [goldMax]="getMax(user, 'gold')"
            [depositOptions]="depositOptions"
            [uiErrorsNames]="uiErrorsNames"
            (depositCurrency)="depositCurrency()">
            @if (!depositAvailable) {
              <p class="text-center w-100 mb-0">You can not have more than one deposit.</p>
            }
          </app-deposit>
        </fieldset>
      </aside>
    </div>

    <div class="ps-2 pe-2">
      <button class="got-toggle w-100" (click)="goToMainPage()">Back to Castle Black</button>
    </div>
  </main>
</div>
