@use '../../../assets/resourses/styles/index' as index;

.inner-container {
  background: url('../../../assets/resourses/imgs/background/iron-bank.jpg') no-repeat center;

  @include index.mixin-page-container;
  @include index.mixin-got-btn;
  @include index.anim-border-glow(deposit-notificator);

  aside {
    @include index.anim-glow-pulse-border();
  }
}
