@use "../../../assets/resourses/styles/vars";
@use "../../../assets/resourses/styles/mixins";
@use "../../../assets/resourses/styles/animations";

.inner-container {
  background: url("../../../assets/resourses/imgs/background/iron-bank.jpg") no-repeat center;
  background-size: cover;
  min-height: 100%;
  box-shadow: vars.$box-shadow;
  position: relative;
  padding-top: 1px;

  p {
    color: white;
    font-weight: bold;
  }

  h4 {
    @include mixins.grad-color;
    font-size: 20px;
  }

  aside {
    @include animations.glow-pulse-border();
  }
}
