@let _isLoading = isLoading | async;
@let _records = records();

<div class="position-relative">
  @if (_isLoading) {
    <app-container-label>
      <mat-spinner></mat-spinner>
    </app-container-label>
  }

  <section class="response-holder-container mb-2">
    <app-response-holder-keywords-bar />

    <mat-drawer-container class="example-container">
      <mat-drawer #drawer class="p-2" mode="side">
        <aside class="response-filters position-relative h-100">
          Active keywords:
          <app-container-label>
            <mat-spinner></mat-spinner>
          </app-container-label>
        </aside>
      </mat-drawer>

      <div class="records-container p-2">
        @for (record of _records; track record.id) {
          @let _selectedResponse = !record.request && containsSelectedTags(record.keywords);

          <div
            class="p-2 mb-2 request row position-relative"
            [class]="!record.request ? 'ms-1' : ''"
            [ngClass]="{
              'request-background': record.request,
              'selected-key': _selectedResponse,
            }">
            @if (!record.request) {
              <div class="col-auto">
                <img
                  [src]="'assets/resourses/imgs/tile-backgrounds/aemon_young.png'"
                  alt="assistant"
                  width="60px"
                  height="60px" />
              </div>
            }

            <div class="col">
              @if (record.request) {
                <p>{{ record.message }}</p>
              } @else {
                <app-effects-highlighter
                  [containerClass]="'response-container'"
                  [text]="record.message"
                  [renderBySentence]="true"
                  [wordsToHighlight]="memoryKeys" />
              }
            </div>

            @if (!record.request) {
              <mat-chip-set aria-label="request keywords">
                @for (tag of record.keywords; track $index) {
                  <mat-chip>{{ tag }}</mat-chip>
                }
              </mat-chip-set>
            }
          </div>
        }

        @if (!_records.length) {
          <div class="p-2 text-center">
            <img
              [src]="'assets/resourses/imgs/tile-backgrounds/aemon_young.png'"
              alt="assistant"
              width="=100px"
              height="100px" />
            <p class="text-center color-white mt-2">Maester Aemon's answers will appear here.</p>
          </div>
        }
      </div>
    </mat-drawer-container>

    <button type="button" mat-button (click)="drawer.toggle()">Show Filters</button>
  </section>
</div>
