@use '../../../../../assets/resourses/styles/index' as index;

:host {
  mat-chip-set {
    ::ng-deep .mdc-evolution-chip-set__chips {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }

  .request {
    box-shadow: index.$var-box-shadow-out;
    border-radius: 5px;
    width: calc(100% - 5%);
    background-color: rgba(223, 223, 223, 0.68);
    color: black;

    &.request-background {
      margin-left: 5%;
    }

    &.selected-key {
      background-color: rgba(162, 193, 155, 0.68) !important;
    }
  }

  .request-background {
    background-color: rgb(157 157 157 / 68%);
  }

  ::ng-deep {
    .response-container {
      p:first-of-type:has(~ p) {
        margin-bottom: 10px !important;
      }
    }
  }
}
