<div class="container-fluid position-relative">
  @if (autoFight) {
    <div class="position-absolute top-0 h-100 banner">
      <h3 class="text-center mt-2 fade-black-bg">
        <span class="caption">Auto fight. Please wait.</span>
      </h3>
    </div>
  }

  @if (battleMode) {
    <h4 class="text-center">
      <span class="user-bar">Ходит {{ turnUser ? 'игрок' : 'AI' }}</span>
      {{ autoFight + 'f' }}
    </h4>
    <div class="heroes-bar flex-row">
      <div
        class="heroes user-heroes col-5 d-flex align-items-center justify-content-end">
        <ng-container
          [ngTemplateOutlet]="usersTopBar"
          [ngTemplateOutletContext]="{ units: userUnits }"></ng-container>
      </div>
      <div
        class="turns-counter col-2 d-flex justify-content-center cursor-pointer">
        <div class="col-9">
          <div tooltip="Закончить ход" (click)="finishTurn()">
            <span>{{ turnCount }} / {{ maxTurnCount }}</span>
          </div>
        </div>
      </div>
      <div
        class="heroes ai-heroes col-5 d-flex align-items-center justify-content-start">
        <ng-container
          [ngTemplateOutlet]="usersTopBar"
          [ngTemplateOutletContext]="{ units: aiUnits }"></ng-container>
      </div>
    </div>
  }
  <main class="flex-row justify-content-between">
    <div class="col-md-12 col-lg-12 col-xl-8">
      <basic-game-board
        [gameConfig]="gameConfig"
        [battleMode]="battleMode"
        (moveEntity)="moveEntity($event)"
        (highlightMakeMove)="highlightMakeMove($event)"></basic-game-board>
    </div>
    <aside class="col-xl-3 col-lg-12 col-md-12 d-flex flex-column mb-3">
      <div
        class="meta-aside mb-3 flex-row justify-content-evenly p-1"
        *ngIf="skillsInAttackBar.length">
        <ng-container
          *ngFor="let skill of skillsInAttackBar; trackBy: trackBySkill">
          <div class="skills-container col-3">
            <div>
              <p class="text-center">{{ skill.name }}</p>
              <div class="text-center">
                <div
                  class="position-relative"
                  style="margin: 0 auto; width: fit-content"
                  tooltip="{{ skill.description }}">
                  <img
                    alt="{{ skill.name }}"
                    src="{{ skill.imgSrc }}"
                    class="cursor-pointer me-0"
                    (click)="attack(skill)" />
                  <div
                    class="skill-disabled"
                    style="top: 0px; left: 0px"
                    *ngIf="skill.remainingCooldown || skill.passive">
                    <i aria-hidden="true">{{
                      skill.passive ? 'P' : skill.remainingCooldown
                    }}</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="meta-aside">
        <tabset>
          <tab [heading]="battleMode ? 'Мои герои' : 'Разведчик'" id="tab1">
            <div class="heroes user-heroes m-1">
              <ng-container
                *ngFor="let hero of userUnits; trackBy: trackByUnit">
                <ng-container
                  [ngTemplateOutlet]="asideUnits"
                  [ngTemplateOutletContext]="{
                    hero: hero,
                    progressbarClass: 'success',
                  }"></ng-container>
              </ng-container>
            </div>
          </tab>
          <tab [heading]="battleMode ? 'Враги' : 'Лут'">
            <div class="heroes ai-heroes m-1">
              <ng-container *ngFor="let hero of aiUnits; trackBy: trackByUnit">
                <ng-container
                  [ngTemplateOutlet]="asideUnits"
                  [ngTemplateOutletContext]="{
                    hero: hero,
                    progressbarClass: 'danger',
                  }"></ng-container>
              </ng-container>
            </div>
          </tab>
          <tab
            [heading]="battleMode ? 'История боя' : 'История'"
            class="history-tab">
            <div class="m-1">
              <ng-container
                *ngFor="let logRecord of log; trackBy: trackByLogRecord">
                <p
                  class="log-record"
                  *ngIf="logRecord.message"
                  [ngClass]="{
                    'red-b': logRecord.isUser,
                    'green-b': !logRecord.isUser,
                    'entity-b': logRecord.info,
                  }">
                  <img src="{{ logRecord.imgSrc }}" alt="Effect img" />
                  <span>{{ logRecord.message }}</span>
                </p>
              </ng-container>
            </div>
          </tab>
        </tabset>
      </div>
    </aside>
  </main>
  <div class="d-flex">
    @if (!autoFight) {
      <button class="btn btn-success" (click)="startAutoFight(false)">
        Auto Play
      </button>
      <button
        class="btn btn-success ms-1"
        (click)="startAutoFight(false, true)">
        Skip one turn
      </button>
    }
    <ng-content select="bottom-navigation"></ng-content>
  </div>
</div>

<ng-template
  #asideUnits
  let-hero="hero"
  let-progressbarClass="progressbarClass">
  <accordion class="mb-2">
    <accordion-group>
      <div
        class="btn btn-link btn-block flex-column d-flex w-100 p-1 shadow-none"
        accordion-heading>
        <div style="grid-template-columns: 1fr 3fr" class="d-grid p-0 gap-2">
          <div class="p-0">
            <div class="position-relative m-0-auto" style="width: fit-content">
              <img
                src="{{ hero.imgSrc }}"
                [alt]="hero.name"
                class="game-field-img"
                [ngClass]="{ disabled: !hero.health }" />
              <img
                src="assets/resourses/imgs/icons/move_icon.png"
                alt="can move"
                *ngIf="
                  battleMode &&
                  (hero.inBattle === true || hero.inBattle === undefined)
                    ? battleMode
                    : hero.user
                      ? hero.canMove && hero.health
                      : hero.user
                "
                class="action-icon position-absolute can-move-icon" />
              <img
                src="assets/resourses/imgs/icons/attack_icon.png"
                alt="can attack"
                *ngIf="
                  battleMode &&
                  (hero.inBattle === true || hero.inBattle === undefined)
                    ? battleMode
                    : hero.user
                      ? hero.canAttack && hero.health
                      : hero.user
                "
                class="action-icon position-absolute can-attack-icon" />
            </div>
          </div>
          <div class="p-0">
            <div class="col-12 aside-hero-tab-header">
              <h4>{{ hero.name }}</h4>
              <progressbar
                *ngIf="
                  battleMode
                    ? battleMode &&
                      (hero.inBattle === true || hero.inBattle === undefined)
                    : hero.user
                "
                [max]="hero.maxHealth"
                [value]="hero.health"
                [type]="progressbarClass"
                [striped]="true"
                [animate]="true">
              </progressbar>
            </div>
          </div>
        </div>
        <div
          class="effects-container mt-1"
          *ngIf="battleMode ? battleMode : hero.user">
          <div
            *ngFor="let effect of hero.effects; trackBy: trackByEffect"
            class="position-relative">
            <img src="{{ effect.imgSrc }}" tooltip="{{ effect.type }}" />
            <span>{{ effect.duration }}</span>
          </div>
        </div>
      </div>
      <div
        class="flex-row justify-content-between"
        *ngIf="
          battleMode && (hero.inBattle === true || hero.inBattle === undefined)
            ? battleMode
            : hero.user;
          else lootDescription
        ">
        <div class="col-12 stats">
          <p>
            <img
              src="assets/resourses/imgs/icons/health_icon.png"
              alt="health icon" />
            <span class="d-block">{{ hero.maxHealth }}</span>
          </p>
          <p>
            <img
              src="assets/resourses/imgs/icons/attack_icon.png"
              alt="attack icon" />
            <span class="d-block">{{ hero.attack }}</span>
          </p>
          <p>
            <img
              src="assets/resourses/imgs/icons/def_icon.png"
              alt="defence icon" />
            <span class="d-block">{{ hero.defence }}</span>
          </p>
        </div>
        <div class="col-12 row" style="margin: unset">
          <div class="stats h-100 w-100 skills-bar">
            <p>{{ hero.health ? 'Здоровье героя: ' + hero.health : '' }}</p>
            <div class="flex-row skills-container justify-content-evenly">
              <div
                class="position-relative"
                *ngFor="let skill of hero.skills; trackBy: trackBySkill"
                tooltip="{{ skill.description }}">
                <img alt="skill" src="{{ skill.imgSrc }}" />
                <div
                  class="skill-disabled"
                  *ngIf="skill.remainingCooldown || skill.passive">
                  <i aria-hidden="true">{{
                    skill.passive ? 'P' : skill.remainingCooldown
                  }}</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #lootDescription>{{ hero.description }}</ng-template>
    </accordion-group>
  </accordion>
</ng-template>

<ng-template #usersTopBar let-units="units">
  <ng-container *ngFor="let hero of units; trackBy: trackByUnit">
    <img
      src="{{ hero.imgSrc }}"
      alt="hero"
      class="game-field-img"
      *ngIf="hero.inBattle || hero.inBattle === undefined"
      [ngClass]="{ disabled: !hero.health }"
      tooltip="Жизнь: {{ hero.health }}" />
  </ng-container>
</ng-template>
