@use '../../../assets/resourses/styles/index' as index;

.user-bar {
  @include index.mixin-grad-color;
}

.actions {
  @include index.mixin-got-btn;
}

.heroes {
  max-height: 350px;
  overflow: auto;
}

.effects-container {
  img {
    background: transparent !important;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
  }

  span {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-weight: bold;
    color: #f00;
    font-size: 13px;
  }
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: unset;
  width: auto;

  @include index.anim-border-glow(skill-disabled);

  p {
    margin-bottom: 1px;
  }

  > div {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100px;
    align-items: center;
  }

  img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 4px orange);
  }
}

.log-record {
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: index.$var-box-shadow;
  border-radius: 5px;
  width: 100% !important;
  opacity: 1 !important;
  height: 70px;
  overflow-y: auto;
  overflow-x: hidden;

  img {
    background: transparent;
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }
}

.aside-hero-tab-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta-aside {
  box-shadow: index.$var-box-shadow;
  background-color: index.$var-background-color-main;
  border-radius: 0;
}

.history-tab {
  overflow: auto;
  max-height: 400px;

  img {
    width: 40px;
    margin: 10px;
  }
}

.game-board {
  height: fit-content;
}

.heroes-bar {
  justify-content: center;
  img {
    cursor: pointer;
    margin: 5px;
  }
}

.turns-counter {
  div:hover {
    div {
      background-color: #750000;

      span {
        color: white;
      }
    }
  }

  > div {
    box-shadow: index.$var-box-shadow-out;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 50px;

    div {
      border: 1px solid #a11313;
      background-color: #800;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height: 100%;
      box-shadow: index.$var-box-shadow;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 968px) {
  main {
    > div {
      order: 2;
    }

    > aside {
      order: 1;
    }
  }
}

.example-viewport {
  height: 200px;
}
