@import "../../../assets/resourses/styles/mixins";

.user-bar {
  @include grad-color;
}

.effects-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    background: transparent !important;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
  }

  span {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-weight: bold;
    color: aliceblue;
    font-size: 13px;
  }
}

.skills-container {
  margin: 15px;
  > div {
    padding: 5px;
  }
  img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
  }
}

.action-icon {
  height: 20px;
  width: 20px;
  background-color: transparent !important;
  bottom: 0;
}

.can-move-icon {
  left: 0;
}

.can-attack-icon {
  right: 0;
}

.log-record {
  padding: 5px;
  box-shadow: $box-shadow;
  border-radius: 5px;
  width: 100% !important;
  opacity: 1 !important;
}

.aside-hero-tab-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta-aside, .game-board {
  box-shadow: $box-shadow;
  background-color: $background-color-main;
  padding: 10px;
  border-radius: 5px;
}

.history-tab {
  overflow: auto;
  max-height: 400px;
  img {
    width: 40px;
    margin: 10px;
  }
}

.game-board {
  height: fit-content;
}

.tile {
  min-height: 100px;
  flex-basis: 110px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;

  &:hover {
    background: #e8e7e782;
  }
}

.game-field-img {
  @include avatar;
  box-shadow: $box-shadow;
  height: 80px;
  width: 80px;
  padding: 5px;
}

.tile-label {
  position: absolute;
  top: 0;
  right: 3px;
  @include grad-color;
}

.entity-b.ai-heroes.green-b:not(.disabled) {
  border-color: #ff6c6c;
  box-shadow: $red-box-shadow;
}

.ai-heroes {
  img {
    background-color: $light-red;
  }
}

.user-heroes {
  img {
    background-color: $light-green;
  }
}

.heroes-bar {
  img {
    cursor: pointer;
    margin: 5px;
  }
}

.turns-counter {
  div:hover {
     div {
        background-color: #750000;
        span {
          color: white;
        }
      }
  }

  > div {
    box-shadow: $box-shadow-out;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    div {
      border: 1px solid #a11313;
      background-color: #800;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height: 100px;
      box-shadow: $red-box-shadow;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}
