@use '../../../../assets/resourses/styles/index' as index;

.inner-container {
  background: url('../../../../assets/resourses/imgs/background/wall.webp') no-repeat center;
  background-size: cover;
  min-height: 100%;
  box-shadow: index.$var-box-shadow;
  position: relative;
  padding-top: 1px;

  @include index.mixin-got-btn;
}

.card-title {
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 16px !important;
  color: white;
}

.modal-title {
  text-shadow: 1px 1px 1px #000000;
}

.step-container {
  min-width: auto !important;
  min-height: auto !important;
  width: 100%;
  position: relative;
  left: auto;
  bottom: auto;
}

aside {
  padding-bottom: 10px;
}

.hero {
  overflow: hidden;

  image {
    opacity: 0;
    animation: fadeInHero 1s ease forwards;
    animation-delay: 1.5s;
  }

  @include index.anim-swirl-particles($name: swirl-particles-dr);
  @include index.anim-swirl-out($name: swirl-out-dr);
}

.online-time {
  font-weight: 600;
  text-align: right;
}

.text {
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 1px #000000;
}

.tip {
  color: red;
  bottom: -5px;
  position: absolute;
  right: calc(var(--bs-gutter-x) * 0.5);
}

@keyframes fadeInHero {
  to {
    opacity: 1;
  }
}
