:host {
  position: sticky;
  top: 0;
  display: block;
  background-color: black;
}

mat-chip-listbox {
  ::ng-deep .mdc-evolution-chip-set__chips {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
