@let _unit = unit();
@let _isUser = isUser();
@let _selected = selected();
@let _tileConfig = tileConfig | async;

@if (_tileConfig && _tileConfig.visible) {
  <div
    class="m-1"
    [ngClass]="{
      disabled: !_tileConfig.active,
    }"
    (click)="unitClick.emit(_unit)">
    <img
      [src]="_unit.imgSrc"
      [alt]="_unit.name"
      [ngClass]="{
        selected: _isUser && _selected,
        'selected-enemy': !_isUser && _selected,
      }"
      [class.selected]="_selected" />
  </div>
} @else {
  <span class="invisible"></span>
}
