<div class="game-board mb-3" (appOutsideClick)="setTilesToHighlight([])">
  @for (row of gameConfig; track $index) {
    <div class="flex-row">
      @for (tile of row; track $index) {
        <div class="col tile d-flex align-items-center justify-content-center">
          <app-game-board-tile
            [tile]="tile"
            (moveEntity)="moveEntity.emit($event)"
            (highlightMakeMove)="highlightMakeMove.emit($event)"
            [battleMode]="battleMode" />
        </div>
      }
    </div>
  }
</div>
