@use '../../../../../assets/resourses/styles/index' as index;

.skill-box {
  background-color: index.$var-metal-dark-1;
  border: index.$var-border-2-bronze;
}

.skills-container.active {
  background-color: index.$var-metal-dark-1;
  border-radius: 5px;
  border: index.$var-border-2-bronze;
  display: flex;
  flex-direction: column;

  h2 {
    @include index.mixin-grad-color;
  }
}

.matcher-container {
  > div {
    &:first-of-type {
      background-color: index.$var-metal-dark-1;
    }
  }
}

.cdk-list-2 {
  height: 100%;
  &:not(:empty) {
    max-height: 400px;
    overflow: auto;
  }

  @include index.mixin-drop-area;
}
