@let _chosenUnits = chosenUnits();
@let _matchedPreviewUnits = matchedPreviewUnits();
@let _synergyUnits = synergyUnits();

<div cdkDropListGroup class="row gap-2 m-0 matcher-container">
  <app-heroes-matcher-actions class="p-0" />

  <div class="col-12 p-2">
    <p class="color-white banner w-100 p-2 mb-0">
      The selected hero's abilities will be displayed here. When selecting a hero, heroes with which
      this hero has synergies will also be highlighted. You can drag a hero from this block to the
      column on the right.
    </p>

    <div class="row m-0 g-2">
      <div class="col">
        <app-heroes-select-preview
          [dropListId]="cdkList1"
          [connectTo]="[cdkList2]"
          (dropped)="dropCover($event)"
          [containerClass]="'no-p mt-2'"
          [units]="_chosenUnits"
          [title]="
            _chosenUnits.length ? _chosenUnits[0].name : 'Selected Unit'
          "></app-heroes-select-preview>
      </div>

      <div class="col">
        @if (_synergyUnits.length) {
          <app-heroes-select-preview
            [dropListId]="cdkList1"
            [connectTo]="[cdkList2]"
            [containerClass]="'no-p mt-2'"
            [units]="_synergyUnits"
            [title]="'Synergy Units'"></app-heroes-select-preview>
        } @else {
          <p
            class="color-white text-center w-100 p-2 mb-0 h-100 d-flex justify-content-center align-items-center">
            You will see the synergy units here.
          </p>
        }
      </div>
    </div>
  </div>

  <aside class="skills-container color-white col-md-12 col-lg p-0">
    <app-heroes-select
      [title]="'Units'"
      [containerClass]="'no-p'"
      [contextName]="contextName"
      [isUser]="true"
      [allHeroes]="allUnitsForSelect"
      [addUserUnit]="addUserUnit"></app-heroes-select>
  </aside>

  <aside class="skills-container active color-white col-md-12 col-lg p-0">
    <h2 class="w-100 text-center mb-0">Selected skill set</h2>
    <div class="flex-grow-1 m-2">
      <div
        class="cdk-list-2"
        [id]="cdkList2"
        cdkDropList
        [cdkDropListData]="_matchedPreviewUnits"
        [cdkDropListConnectedTo]="[cdkList1]"
        (cdkDropListDropped)="dropCover($event)">
        @for (unit of _matchedPreviewUnits; track unit.name) {
          <div [cdkDragDisabled]="_chosenUnits.length > 0" cdkDrag>
            <app-skills-render
              [containerPaddingClasses]="'skill-box mb-1 p-2'"
              [label]="`${unit.name} - Skills`"
              [selectedHero]="unit"
              [convertTextToLowercase]="false"
              [sliderMode]="true">
              <button
                class="stores-placeholder-header-icon"
                (click)="removeElementFromRightContainer(unit.name)"
                mat-icon-button
                ngProjectAs="slider-mode-content">
                <mat-icon>close</mat-icon>
              </button>
            </app-skills-render>
          </div>
        }
      </div>
    </div>
  </aside>
</div>
