<div class="login-container">
  <main class="container">
    <form class="flex-row m-5" [formGroup]="form">
      <section class="col-12 p-3">
        <div class="text-center got-toggle" (click)="switchMode()">
          <span>{{ createUser ? 'Sign up' : 'Sign in' }}</span>
        </div>
        <div class="mt-2">
          <app-text-input [label]="'Login'" [controlName]="'login'" />
        </div>
        <div class="mt-2">
          <app-text-input [label]="'Password'" [type]="'password'" [controlName]="'password'" />
        </div>
        <button
          type="submit"
          class="btn btn-primary mt-2 mb-2 got-toggle login-btn"
          (click)="submit()">
          Submit
        </button>
        <app-form-errors-container
          [form]="form"
          [uiErrorsNames]="onUIFieldsName"></app-form-errors-container>
      </section>
    </form>
  </main>
</div>
<app-modal-window></app-modal-window>
