@use '../../../assets/resourses/styles/index' as index;

.login-container {
  background: url('../../../assets/resourses/imgs/background/forest.jpeg') no-repeat;

  @include index.mixin-page-container;
  @include index.mixin-got-btn;

  main {
    height: 100%;
    @include index.mixin-d-f-a-c-j-c;

    form {
      border-radius: 15px;
      box-shadow: index.$var-box-shadow;
      min-height: 400px;
      width: 100%;
      background: index.$var-background-color-main;
    }
  }

  .login-btn {
    padding: 5px 15px;
  }
}
