@use '../../../../assets/resourses/styles/index' as index;

.short-information-container {
  @include index.mixin-page-container;
  @include index.mixin-got-btn;

  h3 {
    @include index.mixin-grad-color;
  }
}
