@use '@angular/cdk';
@use '@angular/material' as mat;
@use '@angular/material/prebuilt-themes/deeppurple-amber.css';
@use "assets/resourses/styles/hero";
@use "assets/resourses/styles/collors";
@use "assets/resourses/styles/vars";
@use "assets/resourses/styles/mixins";
@use "assets/resourses/styles/fixers";
@use "assets/resourses/styles/skills";
@use "assets/resourses/styles/fields";
@use "assets/resourses/styles/common";
@use "assets/resourses/styles/general-game-bed-styles";
@use "assets/resourses/styles/pagination-override";
@use "assets/resourses/styles/tablist";
@use "assets/resourses/styles/tag-based-styles";
@use "assets/resourses/styles/modal-override";

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.caption {
  @include mixins.grad-color;
  width: 100%;
}

.loot-img {
  box-shadow: unset;
  border: unset;
  background-color: unset !important;
  max-width: 60px;
  max-height: 60px;
}

.stats {
  box-shadow: vars.$box-shadow;
  background-color: vars.$background-color-main;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  min-width: 100px;
  margin-bottom: 3px;
  flex: 1;
  padding: 10px;

  img {
    height: 30px;
    width: 30px;
    background-color: transparent !important;
  }

  p {
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;

    &.d-inline {
      flex-basis: 100px;
    }
  }

  span {
    height: fit-content;
  }
}

.glow-box {
  transition: all ease 0.5s;
  min-height: 650px;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  width: 80%;
  left: 14%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.form-inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  label {
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 0;
    margin-right: 15px;
    flex: 1 1 100px;
    max-width: 145px;
    white-space: inherit;
  }
}

@media (max-width: 1024px) {
  .glow-box {
    left: 10%;
    height: 95%;
  }
  #hero-in-frame {
    background-size: contain !important;
  }
}

:root {
  .card {
    --bs-card-spacer-y: 3px;
    --bs-card-spacer-x: 3px;
  }

  .nav-tabs {
    --bs-border-radius: 0px;
  }

  .nav-link {
    --bs-nav-link-padding-y: 5px;
    --bs-nav-link-padding-x: 5px;
    --bs-nav-tabs-border-radius: 0px;
    background: white;
  }

  .card-title {
    --bs-card-title-spacer-y: 2px;
  }

  .list-group-item {
    --bs-list-group-item-padding-y: 4px;
    --bs-list-group-item-padding-x: 4px;
  }
}

.nav-item .active {
  box-shadow: vars.$box-shadow;
  border: none !important;
}

.row:not(.stats) {
 // flex: 1 0 auto !important;
}
