@use '@angular/cdk';
@use '@angular/material' as mat;
@use '@angular/material/prebuilt-themes/deeppurple-amber.css';
@use 'assets/resourses/styles/hero';
@use 'assets/resourses/styles/collors';
@use 'assets/resourses/styles/index' as index;
@use 'assets/resourses/styles/fixers';
@use 'assets/resourses/styles/skills';
@use 'assets/resourses/styles/fields';
@use 'assets/resourses/styles/common';
@use 'assets/resourses/styles/general-game-bed-styles';
@use 'assets/resourses/styles/pagination-override';
@use 'assets/resourses/styles/tablist';
@use 'assets/resourses/styles/tag-based-styles';
@use 'assets/resourses/styles/modal-override';
@use 'assets/resourses/styles/stores';
@use 'assets/resourses/styles/flips';
@use 'assets/resourses/styles/images';
@use 'assets/resourses/styles/material/theming';
@use 'sass:map';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$utilities: map.merge(
  $utilities,
  (
    'font-size': map.merge(
        map.get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
  )
);

@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
  color: white;
  scrollbar-color: index.$var-metal-dark-1 index.$var-metal-dark-2;
  scrollbar-width: thin;
}

html:has(.page-loader) {
  overflow: hidden;
}

fieldset[disabled] {
  pointer-events: none;
  position: relative;

  &.inherit {
    display: inherit;
    flex-direction: inherit;
  }

  &:after {
    content: '\2715';
    position: absolute;
    @include index.mixin-h-100-w-100;
    top: 0;
    left: 0;
    backdrop-filter: brightness(0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.caption {
  @include index.mixin-grad-color;
  width: 100%;
}

.loot-img {
  box-shadow: unset;
  border: unset;
  background-color: unset !important;
  max-width: 60px;
  max-height: 60px;
}

.stats {
  box-shadow: index.$var-box-shadow;
  background-color: index.$var-background-color-main;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  min-width: 100px;
  margin-bottom: 3px;
  flex: 1;
  padding: 10px;

  img {
    height: 30px;
    width: 30px;
    background-color: transparent !important;
    margin-right: 2px;
  }

  p {
    @include index.mixin-d-f-a-c;
    margin: 5px;
    justify-content: center;

    &.d-inline {
      flex-basis: 100px;
    }
  }

  span {
    height: fit-content;
  }

  &.stats-table {
    min-width: unset;
    justify-content: space-evenly;

    .flex-row {
      margin-bottom: unset;
    }

    p {
      &.d-inline {
        flex-basis: auto;
        align-self: center;
      }
    }
  }
}

.app-loading {
  overflow: hidden;
}

.glow-box {
  transition: all ease 0.5s;
  min-height: 650px;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  width: 100%;
  left: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.form-inline {
  @include index.mixin-d-f-a-c;
  flex-flow: row nowrap;
  width: 100%;
  flex-wrap: wrap;

  label {
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 0;
    margin-right: 15px;
    flex: 1 1 100px;
    max-width: 145px;
    white-space: inherit;
  }
}

@media (max-width: 1024px) {
  .glow-box {
    left: 0%;
    height: 95%;
  }
  #hero-in-frame {
    background-size: contain !important;
  }
}

.nav-item .active {
  box-shadow: index.$var-box-shadow;
  border: none !important;
}

.page-loader {
  @include index.mixin-page-loader;
}

.loader-holder {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-size: contain;
}

.page-loader .loader-holder {
  display: flex;
}
