@let _form = form();
@let _inputsConfig = inputsConfig();
@let _depositOptions = depositOptions();
@let _uiErrorsNames = uiErrorsNames();

<form [formGroup]="_form" class="row gap-2 m-0 store-row p-2">
  <div class="row ignore-direction m-0 gap-2">
    <span class="col-auto mb-0 deposit-label color-white">Duration:</span>
    <div class="col ps-2 pe-3">
      <app-slider [controlName]="'days'" [options]="_depositOptions" />
    </div>
  </div>

  <div class="row ignore-direction m-0 gap-2">
    @for (input of _inputsConfig; track input.label) {
      <div class="col p-0">
        <app-number-input [max]="input.max" [label]="input.label" [controlName]="input.type">
        </app-number-input>
      </div>
    }
  </div>

  @if (_form.valid) {
    <section class="w-100">
      <app-deposit-hint [renderRates]="true" [rates]="rates" [coins]="getCoins()" />
      <button mat-fab extended class="mb-2 mt-2" (click)="depositCurrency.emit(true)">
        <mat-icon>currency_exchange</mat-icon>
        Deposit
      </button>
    </section>
  } @else {
    <app-form-errors-container
      class="w-100 mt-2"
      [form]="_form"
      [uiErrorsNames]="_uiErrorsNames"></app-form-errors-container>
  }
  <ng-content />
</form>
