@use '../../../../assets/resourses/styles/index' as index;

.heroes-container {
  background-color: index.$var-background-color-main;
  @include index.mixin-units-container-config;
}

.preview-selected-heroes {
  flex-wrap: nowrap;
  flex-direction: column !important;
  padding: 0px 10px;

  img {
    border-radius: 5px !important;
  }

  > div {
    margin-bottom: 5px;
    border: index.$var-border-1-black;
    padding: 3px;
    border-radius: 3px;
    box-shadow: index.$var-box-shadow;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .hero-name {
    position: absolute;
    font-size: 13px;
    bottom: 0;
    left: 10px;
  }
}
