<div class="inner-container">
  <h4 class="text-center caption mt-2">
    Explore the Gift and reap the harvest. Be extremely careful because sometimes there are
    wildlings here
  </h4>
  <div class="flex-row harvest-container">
    <div class="col-lg-12 col-md-12">
      <app-game-entry-point
        [aiUnits]="aiUnits"
        [gameResultsRedirect]="gameResultsRedirect"
        [userUnits]="userUnits"
        [battleMode]="true">
        <ng-container ngProjectAs="bottom-navigation">
          <button class="btn btn-danger ms-1" (click)="init()">
            Refresh field (load new rewards)
          </button>
          <button class="btn btn-primary ms-1">
            <a routerLink="/" class="fake-link">Back to Castle Black</a>
          </button>
          @if (loot.length) {
            <button class="btn btn-success ms-1" (click)="collectAndLeave()">
              Collect loot and leave
            </button>
          }
        </ng-container>
      </app-game-entry-point>
    </div>
    @if (loot.length) {
      <div class="col-lg-12 col-md-12 mt-3">
        <app-display-reward [rewards]="loot"></app-display-reward>
      </div>
    }
  </div>
</div>
