@use '../../../assets/resourses/styles/index' as index;

.inner-container {
  background: url('../../../assets/resourses/imgs/background/gift.jpg') no-repeat;
  @include index.mixin-page-container;

  h3 {
    @include index.mixin-grad-color;
  }
}

.harvest-container {
  padding: 15px;

  @include index.mixin-got-btn;
}

.reward-bar {
  min-height: 100px;
  box-shadow: index.$var-box-shadow;
  border-radius: 5px;
}
