@use '../../../assets/resourses/styles/vars';
@use '../../../assets/resourses/styles/mixins';

.inner-container {
  background: url('../../../assets/resourses/imgs/background/gift.jpg') no-repeat;
  background-size: cover;
  min-height: 100%;
  box-shadow: vars.$box-shadow;
  position: relative;
  padding-top: 1px;

  h3 {
    @include mixins.grad-color;
  }
}

.harvest-container {
  padding: 15px;
}

.reward-bar {
  min-height: 100px;
  box-shadow: vars.$box-shadow;
  border-radius: 5px;
}
