<div class="row ms-2 me-2 mb-2" style="gap: 5px">
  <div class="col-lg-6 col-sm-12" style="margin: 0px -2px">
    <app-stats [selectedHero]="selectedHero"></app-stats>
  </div>
  <div class="col-lg-6 col-sm-12" style="margin: 0px -2px">
    <app-skills-render [selectedHero]="selectedHero"></app-skills-render>
  </div>
</div>
<div>
  <h4>Choose Difficulty</h4>
  <div class="pb-2">
    <tabset>
      <tab
        *ngFor="let boss of config; trackBy: trackByLevel"
        [heading]="boss.heading"
        id="{{ boss.heading }}">
        <ng-container
          [ngTemplateOutlet]="bossTemplate"
          [ngTemplateOutletContext]="{ bossLevel: boss.level }"></ng-container>
      </tab>
    </tabset>
  </div>
</div>

<ng-template #bossTemplate let-bossLevel="bossLevel">
  <div class="p-3">
    <div class="col-lg-12 col-sm-12 d-flex flex-wrap">
      <app-stats [selectedHero]="upBoss(bossLevel)" class="col-lg-6 col-sm-12"></app-stats>
      <div class="col-lg-6 col-sm-12 skills-container p-2 mb-2 mt-1">
        <h5 class="text-center">Reward</h5>
        <div class="d-flex rewards-bar">
          <img src="assets/resourses/imgs/icons/silver_chest.jpeg" alt="reward" />
          <div class="ps-2">
            <p class="mb-0">
              <span class="cooper"
                >{{ bossReward[bossLevel].cooper | number }} (+
                {{ bossReward[bossLevel].cooperWin | number }} kill reward )</span
              >
              <img src="assets/resourses/imgs/cooper.png" alt="reward" /> for every
              <span class="highlight-effect">{{ bossReward[bossLevel].cooperDMG | number }}</span>
              DMG.
            </p>
            <p class="mb-0">
              <span class="silver"
                >{{ bossReward[bossLevel].silver | number }} (+
                {{ bossReward[bossLevel].silverWin | number }} kill reward )</span
              >
              <img src="assets/resourses/imgs/silver.png" alt="reward" /> for every
              <span class="highlight-effect">{{ bossReward[bossLevel].silverDMG | number }}</span>
              DMG.
            </p>
            <p class="mb-0">
              <span class="gold"
                >{{ bossReward[bossLevel].gold | number }} (+
                {{ bossReward[bossLevel].goldWin | number }} kill reward )</span
              >
              <img src="assets/resourses/imgs/gold.png" alt="reward" /> for every
              <span class="highlight-effect">{{ bossReward[bossLevel].goldDMG | number }}</span>
              DMG.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 d-flex flex-wrap">
      <div class="col-lg-6 col-sm-12">
        <app-heroes-select
          [allHeroes]="allHeroes"
          [isUser]="true"
          [containerClass]="'border-radius-none border-end-0'"
          [addUserUnit]="addUserUnit"></app-heroes-select>
      </div>
      <div class="col-lg-6 col-sm-12">
        <app-heroes-select-preview
          *ngIf="chosenUnits.length"
          [units]="chosenUnits"
          [containerClass]="'border-radius-none border-end-0'"
          [user]="true"></app-heroes-select-preview>
      </div>
    </div>
    <div class="mt-2">
      <button class="btn btn-danger d-block w-100" (click)="openFight(bossLevel)">Fight</button>
    </div>
  </div>
</ng-template>
