@import "../../../assets/resourses/styles/vars";
@import "../../../assets/resourses/styles/mixins";

main {
  aside {
    background: $background-color-main;
    box-shadow: $box-shadow;
  }
  .card {
    background: $background-color-main;
  }
  .card-title, h4 {
    @include grad-color;
  }
}
